<div role="tabpanel" class="tab-pane fade" id="admin">
  <form class="edit-group" id="administration-form" method="POST" action="{{ url('groups:group_edit', group.url) }}?next=admin">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Administration') }}</div>
      <div class="panel-body">
        {% if admin_form.non_field_errors() %}
          <ul class="unstyled">
            {% for error in admin_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <fieldset>
          <span class="acknowledge">
            {{ mozillians_field(admin_form.visible) }}
          </span>
        </fieldset>

        <fieldset>
          <span class="acknowledge">
            {{ mozillians_field(admin_form.members_can_leave) }}
          </span>
        </fieldset>

        <fieldset>
          <span class="acknowledge">
            {{ mozillians_field(admin_form.functional_area) }}
          </span>
        </fieldset>

      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-admin" type="submit" name="admin_form">
          {{ _('Update Administration Settings') }}
        </button>
      </div>
    </div>
  </form>
</div>
