<div role="tabpanel" class="tab-pane fade" id="invitations">
  <form class="edit-group" id="invitations-form" method="POST" action="{{ url('groups:group_edit', group.url) }}?next=invitations">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Pending Invitations') }}</div>
      <div class="panel-body">
        {% if invite_form.non_field_errors() %}
          <ul class="unstyled">
            {% for error in invite_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <fieldset>
          {% if invites %}
            {% for redeemer in invites %}
              <div class="row invitee">
                <div class="col-sm-8">

                  <div class="avatar">
                    <a href="{{ url('phonebook:profile_view', redeemer.user.username) }}">
                      <img class="profile-photo"
                           src="{{ redeemer.get_photo_url('70x70') }}"
                           alt="{{ _('Profile Photo') }}"
                           title="{{ redeemer.display_name }}"></a>
                    <a href="{{ url('phonebook:profile_view', redeemer.user.username) }}">
                      {{ redeemer.display_name }}
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="invite-controls right">
                    {% set invite_pk = redeemer.groups_invited.get(group=group).pk %}
                    <a href="{{ url('groups:delete_invite', invite_pk) }}?next=invitations">
                      <span class="glyphicon glyphicon-remove" title="{{ _('Delete') }}" aria-hidden="true"></span></a>
                    <a href="{{ url('groups:send_invitation_email', invite_pk) }}?next=invitations">
                      <span class="glyphicon glyphicon-repeat"title="{{ _('Resend') }}" aria-hidden="true"></span></a>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p class="text-muted">This group has no pending invitations.</p>
          {% endif %}
        </fieldset>

      </div>
    </div>
  </form>

  <form class="edit-group" id="email-form" method="POST"
        action="{{ url('groups:group_edit', group.url) }}?next=invitations">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Additional Email Text') }}</div>
      <div class="panel-body">

        <fieldset id="id_group_has_email_text">
          <div class="form-group">
            <label class="checkbox">
              <input type="checkbox" class="acknowledge"></input>
              {{ _('Custom Invitation Text') }}
            </label>
          </div>
        </fieldset>

        <fieldset id="id_group_email_text">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                {{ mozillians_field(email_form.invite_email_text) }}
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-email" type="submit" name="email_form">
          {{ _('Update Text') }}
        </button>
      </div>
    </div>
  </form>

  <form class="edit-group" id="invite-form" method="POST" action="{{ url('groups:group_edit', group.url) }}?next=invitations">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Invite new member') }}</div>
      <div class="panel-body">

        <fieldset id="invites">
          <div class="form-group">
            {{ mozillians_field(invite_form.invites) }}
          </div>
        </fieldset>

      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-invite" type="submit" name="invite_form">
          {{ _('Invite') }}
        </button>
      </div>
    </div>
  </form>
</div>
