<div role="tabpanel" class="tab-pane fade" id="access">
  <form class="edit-group" id="grouptype-form" method="POST" action="{{ url('groups:group_edit', group.url) }}?next=access">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Group Type') }}</div>
      <div class="panel-body">

        {% if (criteria_form.non_field_errors() or
               curator_form.non_field_errors() or
               terms_expiration_form.non_field_errors()) %}
          <ul class="unstyled">
            {% for error in criteria_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
            {% for error in curator_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
            {% for error in terms_expiration_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <fieldset id="group_type">
          <div class="sizing">
            {{ mozillians_field(criteria_form.accepting_new_members) }}
          </div>

          <div class="access-description">
            <h4>Open</h4>
            <p>
              The most common group type. When a group is set to "Open",
              it can be joined by any mozillian freely, without review or approval.
              Group Curators can invite and/or remove people from the group if needed.
              When in doubt about which group type to choose, default to "Open".
            </p>

            <h4>Reviewed</h4>
            <p>
              When a group is set to "Reviewed", Mozillians are presented with
              a "Request to Join" button on the group page. Once clicked, Group Curators will receive
              a pending request notification, prompting them to review and accept or deny the membership.
              Group Curators can invite and/or remove people from the group if needed.
            </p>

            <h4>Closed</h4>
            <p>
             "Closed" groups provide more tight control over a group.
              Mozillians cannot request membership, and can only be invited to join the group by Group Curators.
              Group Curators can, of course, remove people from the group if needed.
              Avoid using this group type unless you are absolutely sure it is necessary.
            </p>
          </div>
        </fieldset>

        <fieldset id="id_new_member_criteria_fieldset">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                {{ mozillians_field(criteria_form.new_member_criteria, required=True) }}
              </div>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-type" type="submit" name="criteria_form">
          {{ _('Update Type') }}
        </button>
      </div>
    </div>
  </form>

  <form class="edit-group" id="curators-form" method="POST" action="{{ url('groups:group_edit', group.url) }}?next=access">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Curators') }}</div>
      <div class="panel-body">

        <fieldset id="curators">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                {{ mozillians_field(curator_form.curators) }}
              </div>
            </div>
          </div>
        </fieldset>

      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-curators" type="submit" name="curator_form">
          {{ _('Update Curators') }}
        </button>
      </div>
    </div>
  </form>

  {% if waffle.flag('group-terms-invalidation') %}
    <form class="edit-group" id="terms-form" method="POST" action="{{ url('groups:group_edit', group.url) }}?next=access">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-heading">{{ _('Terms & Expiration') }}</div>
        <div class="panel-body">

          <fieldset id="id_group_has_terms">
            <div class="form-group">
              <label class="checkbox">
                <input type="checkbox" class="acknowledge">
                {{ _('New members should accept terms') }}
              </label>
            </div>
          </fieldset>

          <fieldset id="id_group_terms">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group">
                  {{ mozillians_field(terms_expiration_form.terms) }}
                  <span class="under-input-field">
                    {% trans url='http://daringfireball.net/projects/markdown/syntax' %}
                      Use <a href="{{ url }}">Markdown</a> for bold, italic, lists and links.
                    {% endtrans %}
                  </span>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset id="id_membership_can_expire">
            <div class="form-group">
              <label class="checkbox">
                <input type="checkbox" class="acknowledge"></input>
                {{ _('Membership can expire') }}
              </label>
            </div>
          </fieldset>

          <fieldset id="id_group_invalidation_days">
            <div class="row">
              <div class="col-md-8 col-sm-6">
                <div class="form-group">
                  {{ mozillians_field(terms_expiration_form.invalidation_days) }}
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" id="form-submit-terms-expiration"
                  type="submit" name="terms_expiration_form">
            {{ _('Update Terms & Expiration') }}
          </button>
        </div>
      </div>
    </form>
  {% endif %}
</div>
