/*!
 * Responsive Mozilla mobile stylesheet.
 * 480px and smaller
 */
@media (max-width: 480px) {
    #language-switcher select{
        width: auto;
        display: inline;
    }

    .search-page .result a {
        min-width: 270px;
    }

    #home-options .well {
        padding-bottom: 60px;
    }

    #home-options li {
        padding: 25px 0px;
    }

    #home-options li a {
        margin: 15px 0px;
    }

    #home-group {
        height: 260px;
    }
}
