/*!
 * Responsive Mozilla mobile stylesheet.
 * 768px and smaller
 */
@media (min-width: 480px) and (max-width: 768px) {
}

@media (max-width: 768px) {
    body {
        background-image: none;
    }

    .welcome {
        background-image: none;
        width: auto;
        text-align: initial;
        padding: 0px;
    }

    #profile-info {
        overflow: hidden;
    }

    #quick-search {
        display:none;
    }
    .privacy-controls {
        float: none;
        margin: 0 0 25px 160px;
    }

    .photo .privacy-controls {
        margin: 0 0 15px 0;
    }

    .privacy-view form {
        float: none;
    }
    body#body-edit-profile .control-group {
        float: none;
    }

    #skills .privacy-controls {
        margin: 0 0 25px 0;
    }
}
