/*!
 * Responsive Mozilla mobile stylesheet.
 * 768px and smaller
 */
@media (min-width: 480px) and (max-width: 768px) {
}

@media (max-width: 768px) {
    body {
        background-image: none;
    }

    .welcome {
        background-image: none;
        width: auto;
        text-align: initial;
        padding: 0px;
    }

    #profile-info {
        overflow: hidden;
    }

    #quick-search {
        display:none;
    }
}
