@font-face{
    font-family:'Open Sans Light';
    src:url('//www.mozilla.org/media/fonts/OpenSans-Light-webfont.eot');
    src:url('//www.mozilla.org/media/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('//www.mozilla.org/media/fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('//www.mozilla.org/media/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
        url('//www.mozilla.org/media/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight:300;
    font-style:normal
}

@font-face{
    font-family:'Open Sans';
    src:url('//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot');
    src:url('//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
        url('//www.mozilla.org/media/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:'Open Sans';
    src:url('//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.eot');
    src:url('//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
        url('//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
        url('//www.mozilla.org/media/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight:bold;
    font-style:normal
}


html {
    background:#333;
}

body {
    background:#f5f1e8 url(../img/mozorg-gradient.png) repeat-x top center;
    padding-top:60px;
    font:16px/24px 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.skip{
	left:-999em;
	position:absolute;
}

.skip:focus{
	background:rgb(255,255,255);
	color:rgb(44,44,44);
	height:35px;
	left:0;
	padding-top:5px;
	right:0;
	text-align:center;
	top:0;
	z-index:1031; /* One more than .nav-bar-fixed-top */
}

.huge, .large, h1, h2, h3, h4, #profile-info dt, #profile-info dd, #bio {
    font-family:'Open Sans Light', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight:normal;
    text-shadow:0 1px 0 rgba(255,255,255,0.75);
}

.huge {
    font-size:108px;
    letter-spacing:-4px;
    line-height:100%;
}

.large {
    font-size:72px;
    letter-spacing:-3px;
    line-height:100%;
}

h1 {
    font-size:48px;
    letter-spacing:-2px;
    line-height:100%;
    margin-bottom:5px;
}

h2 {
    font-size:32px;
    letter-spacing:-1px;
    line-height:100%;
    margin-bottom:5px;
}

h3, #profile-info dt {
    font-size:28px;
    letter-spacing:-.5px;
    line-height:100%;
}

h4 {
    font-size:24px;
    letter-spacing:-.25px;
    line-height:100%;
}

.small,small {
    font-size:12px;
    line-height:100%;
}

.brand {
    text-transform:lowercase;
}

.welcome {
    background:url(../img/home-anon-bg.png) top center no-repeat;
    height:350px;
    text-align:center;
    width:445px;
    margin:auto;
    padding:85px 125px 50px 175px;
}

.welcome h1 {
    color:#B91E27;
    font-size:45px;
    line-height:0.8;
    margin:10px 6% 15px 0;
    padding:0;
}

.welcome h1 small {
    font-size:24px;
    letter-spacing:-0.25px;
    font-weight: 300;
}

.welcome p {
    margin-top: 30px;
}

#body-home h3 {
    margin-bottom: 10px;
}

#home-options ul {
    list-style: none;
    margin-left: 0;
}

#home-options li {
    padding: 15px 7px;
    margin-left: 11px;
}

#home-options .btn {
    width: 175px;
    margin-right: 11px;
}

#home-group {
    height: 220px;
    margin: 10px 4px;
    background-color: #DBD6CC;
    border: 1px solid #999999;
}

#home-group h2 {
    margin: 5px 0 0 10px;
}

#home-group dl {
    margin: 20px;
}

#header h1 a,#header h1 span {
    color:#fff;
    font-weight:700;
    text-decoration:none;
    text-shadow:0 1px 5px rgba(0,0,0,0.4);
}

#header h1 a:hover {
    color:#eee;
    text-decoration:none;
    text-shadow:0 1px 5px rgba(0,0,0,0.4), 0 0 10px rgba(255,255,255,0.4);
}

#nav a,#nav span {
    color:#ccc;
}

#nav a:hover,#nav a:focus {
    color:#f59d56;
}

#nav .selected,#nav .on {
    background:url(../img/mozilla/menu-divider.png) bottom right repeat-x;
    color:#f59d56;
}

#quick-search {
    white-space:nowrap;
    margin-bottom:0;
}

#quick-search #q {
    background:#fff url(../img/mozilla/search-icon.png) 2px 50% no-repeat;
    color:#999;
    position:relative;
    z-index:4;
    top:8px;
    height:16px;
    padding:2px 4px 2px 20px;
}

#quick-search #q:focus {
    color:#333;
}

#quick-search-btn {
    background:url(../img/mozilla/search-submit.png) 2px 50% no-repeat;
    left:-18px;
    width:42px;
    height:23px;
    border:0;
    font-size:1px;
    text-indent:-9999px;
    position:relative;
    vertical-align:top;
    z-index:1;
    top:8px;
}

#main-content h1 {
    color:#b91e27;
}

footer {
    background:#333;
    color:#999;
    border-top:6px solid #B91E27;
    padding:18px 0;
    bottom:0;
}

nav .nav a.browserid-login {
    line-height:0;
    padding-bottom:0;
}


.persona-button{
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.2);

    background: #297dc3;
    background: -moz-linear-gradient(top, #43a6e2, #287cc2);
    background: -ms-linear-gradient(top, #43a6e2, #287cc2);
    background: -o-linear-gradient(top, #43a6e2, #287cc2);
    background: -webkit-linear-gradient(top, #43a6e2, #287cc2);
    background: linear-gradient(top, #43a6e2, #287cc2);

    -moz-border-radius:   3px;
    -ms-border-radius:     3px;
    -o-border-radius:     3px;
    -webkit-border-radius:   3px;
    border-radius:       3px;

    -moz-box-shadow:   0 1px 0 rgba(0,0,0,0.2);
    -ms-box-shadow:   0 1px 0 rgba(0,0,0,0.2);
    -o-box-shadow:     0 1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow:     0 1px 0 rgba(0,0,0,0.2);
}

.persona-button:hover{
    background: #21669f;
    background: -moz-linear-gradient(top, #3788b9, #21669f);
    background: -ms-linear-gradient(top, #3788b9, #21669f);
    background: -o-linear-gradient(top, #3788b9, #21669f);
    background: -webkit-linear-gradient(top, #3788b9, #21669f);
    background: linear-gradient(top, #3788b9, #21669f);
}

.persona-button:active, .persona-button:focus{
    top: 1px;
    -moz-box-shadow:   none;
    -ms-box-shadow:   none;
    -o-box-shadow:     none;
    -webkit-box-shadow: none;
    box-shadow:     none;
}

.persona-button span{
    display: inline-block;
    padding: 5px 10px 5px 40px;
}

/* Icon */
.persona-button span:after{
    background: url(../img/persona-person.png) 10px center no-repeat;
    content: '';
    display: block;
    width: 31px;
    position: absolute;
    bottom: 0;
    left: -3px;
    top: 0;
    z-index: 10;
}

/*  Icon background */
.persona-button span:before{
    content: '';
    display: block;
    height: 100%;
    width: 20px;

    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1;

    background: #42a9dd;
    background: -moz-linear-gradient(top, #50b8e8, #3095ce);
    background: -ms-linear-gradient(top, #50b8e8, #3095ce);
    background: -o-linear-gradient(top, #50b8e8, #3095ce);
    background: -webkit-linear-gradient(top, #50b8e8, #3095ce);
    background: linear-gradient(top, #50b8e8, #3095ce);

    -moz-border-radius:   3px 0 0 3px;
    -ms-border-radius:     3px 0 0 3px;
    -o-border-radius:     3px 0 0 3px;
    -webkit-border-radius:   3px 0 0 3px;
    border-radius:       3px 0 0 3px;
}

/* Triangle */
.persona-button:before{
    background: #42a9dd;
    content: '';
    display: block;
    height: 26px;
    width: 26px;

    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -13px;
    z-index: 0;

    background: -moz-linear-gradient(-45deg, #50b8e8, #3095ce);
    background: -ms-linear-gradient(-45deg, #50b8e8, #3095ce);
    background: -o-linear-gradient(-45deg, #50b8e8, #3095ce);
    background: -webkit-linear-gradient(-45deg, #50b8e8, #3095ce);
    background: linear-gradient(-45deg, #3095ce, #50b8e8); /* flipped for updated spec */

    -moz-box-shadow:   1px -1px 1px rgba(0,0,0,0.1);
    -ms-box-shadow:   1px -1px 1px rgba(0,0,0,0.1);
    -o-box-shadow:     1px -1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    box-shadow:     1px -1px 1px rgba(0,0,0,0.1);

    -moz-transform:   rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:     rotate(45deg);
    -webkit-transform:   rotate(45deg);
    transform:       rotate(45deg);
}

/* Inset shadow (required here because the icon background clips it when on the `a` element) */
.persona-button:after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    -moz-border-radius:   3px;
    -ms-border-radius:     3px;
    -o-border-radius:     3px;
    -webkit-border-radius:   3px;
    border-radius:       3px;

    -moz-box-shadow:   inset 0 -1px 0 rgba(0,0,0,0.3);
    -ms-box-shadow:   inset 0 -1px 0 rgba(0,0,0,0.3);
    -o-box-shadow:     inset 0 -1px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
    box-shadow:     inset 0 -1px 0 rgba(0,0,0,0.3);
}

/* ========================================================
 *    Dark button
 * ===================================================== */
.persona-button.dark{
    background: #3c3c3c;
    background: -moz-linear-gradient(top, #606060, #3c3c3c);
    background: -ms-linear-gradient(top, #606060, #3c3c3c);
    background: -o-linear-gradient(top, #606060, #3c3c3c);
    background: -webkit-linear-gradient(top, #606060, #3c3c3c);
    background: linear-gradient(top, #606060, #3c3c3c);
}
.persona-button.dark:hover{
    background: #2d2d2d;
    background: -moz-linear-gradient(top, #484848, #2d2d2d);
    background: -ms-linear-gradient(top, #484848, #2d2d2d);
    background: -o-linear-gradient(top, #484848, #2d2d2d);
    background: -webkit-linear-gradient(top, #484848, #2d2d2d);
    background: linear-gradient(top, #484848, #2d2d2d);
}
.persona-button.dark span:before{ /* Icon BG */
    background: #d34f2d;
    background: -moz-linear-gradient(top, #ebac45, #d34f2d);
    background: -ms-linear-gradient(top, #ebac45, #d34f2d);
    background: -o-linear-gradient(top, #ebac45, #d34f2d);
    background: -webkit-linear-gradient(top, #ebac45, #d34f2d);
    background: linear-gradient(top, #ebac45, #d34f2d);
}
.persona-button.dark:before{ /* Triangle */
    background: #d34f2d;
    background: -moz-linear-gradient(-45deg, #ebac45, #d34f2d);
    background: -ms-linear-gradient(-45deg, #ebac45, #d34f2d);
    background: -o-linear-gradient(-45deg, #ebac45, #d34f2d);
    background: -webkit-linear-gradient(-45deg, #ebac45, #d34f2d);
    background: linear-gradient(-45deg, #d34f2d, #ebac45); /* flipped for updated spec */
}

a.btn {
    vertical-align:middle;
}

.photo .controls img {
    width:70px;
}

.photo ul.photo_controls {
    list-style: none;
    float: left;
}

.photo ul.photo_controls li {
    margin-bottom: 10px;
}

#id_photo_delete {
    margin: 2px 5px 2px 0;
}

.photo #id_photo {

}

.photo .checkbox {
    margin: 0;
    padding: 0;
}

#edit_controls {
    display:block;
    overflow:auto;
    margin:18px 20px;
}

.search-page .result {
    margin-top: 15px;
}

.search-page .result a {
    min-width: 340px;
    height: 75px;
    margin-bottom: 25px;
}

.search-page .result .avatar img {
    float:left;
    height:70px;
    width:70px;
    margin: 0 10px 0 0;
}

.avatar .profile-photo {
    border:1px solid #52adcc;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    max-width:70px;
    max-height:70px;
}

.search-page .result h2 {
    font-size:20px;
    margin:0;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
}

.details ul {
    font-size: 12px;
    list-style: none;
    text-align: left;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear {
    clear:both;
}

dl {
    overflow: hidden;
    padding-bottom:.2em;
}

dt {
    clear:both;
    float:left;
    font-weight:700;
    margin-right:2%;
    width:50%;
}

dd {
    float:left;
    width:66%;
}

legend {
    border-bottom: 1px solid #000;
}

.vouched {
    background:url(../img/icon-person.png) center right no-repeat;
    padding-right:22px;
}

#main h1 {
    padding-bottom:15px;
}

#language-switcher button,#search-form button.btn,.bump-button {
    margin-bottom:9px;
}

.photo .controls .thumbnail {
    float:left;
}

#skills ul.tagit, #groups, #profile-info #skills, #languages {
    margin-left:0;
    background: none;
    border: 0;
}

#search_groups {
    margin-bottom: 50px;
}

#skills li.tagit-new input {
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 3px;
    color: #555;
    font-size: 13px;
    height: 26px;
    line-height: 18px;
    padding: 4px;
    width: 210px;
}

.tab-content h2 {
    border-bottom: 1px solid #000;
    margin-bottom: 6px;
    padding-bottom: 3px;
}

.tab-content .field_description {
    margin-bottom: 20px;
}

#profile-info {
    margin-bottom:15px;
}

#profile-info h3, #profile-info dt {
    margin: 20px 0 10px 0;
}

.search-options {
    display: none;
}

.search-options input, .search-options span {
    display: block;
    float: left;
}

.search-options input {
    margin-left: 40px;
    margin-right: 10px;
}

.edit-profile {
    max-width: 700px;
}

.well {
    background: rgba(0, 0, 0, .1);
}

.browserid_action_form {
    display: none;
}

.label-text {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

footer div.container {
    margin-left: auto;
    margin-right: auto;
}

.vouchees {
    list-style: none;
    padding: 0;
    margin: 0;
}

.group-skills, .steward {
    margin-bottom: 20px;
}

.steward h3, .group-skills h3 {
    margin-bottom: 10px;
}

.steward .avatar, .steward ul {
    float: left;
}

.steward ul {
    list-style: none;
    margin: 10px 0 10px 5px;
}

.underline {
    text-decoration: underline;
}

.group-options p {
    font-size: 16px;
}

.group-skills ul {
    list-style: none;
    padding-left: 20px;
}

.group-skills li {
    float: left;
    padding-right: 10px;
}

label, input, button, select, textarea {
    font-family:'Open Sans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

/* Micro-clearfix */
.location:before,
.location:after {
    content: "";
    display: table;
}

.location:after {
    clear: both;
}

/* TODO: Add rtl support here. */
.location div {
    float: left;
    width: 33%;
    margin: 0;
}

.popular-groups {
    padding: 10px 0;
}

#privacy-settings .control-group > label {
    margin-right: 15px;
    width: 300px;
}
