.hide, .js .js-hide {
    left: -9999px;
    position: absolute;
    top: 0;
}

html[dir='rtl'].js .js-hide, html[dir='rtl'] .hide {
    left: 0;
    right: -9999px;
}

#main {
    min-height: 325px;
}

#main-content {
    position: relative;
    z-index: 1;
}

body.box-content #main-content {
    background: #fff;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    box-shadow: #b6b6b6 0px 2px 7px;
    -moz-box-shadow: #b6b6b6 0px 2px 7px;
    -webkit-box-shadow: #b6b6b6 0px 2px 7px;
    margin: 50px 0 0 20px;
    padding: 20px;
    width: 720px;
}

body.box-content #main-content h1 {
    font-size: 29px;
    margin-top: 0;
}

#main-content p {
    max-width: 685px;
}

/** Element styles */
dt, dd {
    color: #1e4262;
}

dt {
    clear: both;
    float: left;
    font-weight: bold;
    margin-right: 2%;
    width: 30%;
}

dd {
    float: left;
    width: 66%;
}

em.underline {
    font-style: normal;
    text-decoration: underline;
}

/** Common and utility classes */
.blue-pastels {
    background: #bbdfec url(../img/blue-pastels-bottom.png) no-repeat bottom center;
    border: 5px solid #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 1px 1px 5px #d9d9d9;
    -webkit-box-shadow: 1px 1px 5px #d9d9d9;
    box-shadow: 1px 1px 5px #d9d9d9;
    display: block;
    margin: 5px 0 10px;
    min-height: 204px;
    padding: 15px 10px;
    width: 690px;
}

    .blue-pastels:before {
        background: url(../img/blue-pastels-top.png) no-repeat top center;
        content: '';
        display: block;
        height: 204px;
        margin: -15px 0 -204px -10px;
        padding: 15px 0 0;
        width: 710px;
    }

    .blue-pastels h2 {
        color: #1e4262;
        font-family: MetaBold, 'Trebuchet MS', sans-serif;
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 15px;
    }

    .blue-pastels .left-col, .blue-pastels .right-col {
        float: left;
    }

    .blue-pastels .field, .blue-pastels .left-col {
        width: 50%;
    }

    .blue-pastels .right-col {
        padding-left: 1%;
        width: 49%;
    }

    .blue-pastels .left-col .field, .blue-pastels .right-col .field {
        width: auto;
    }

    .blue-pastels label {
        color: #1e4262;
        float: left;
        font-size: 14px;
        font-style: italic;
        font-weight: 200;
        padding: 0 0 2px 2px;
    }

    .blue-pastels .error label {
        padding-right: 10px;
    }

    .blue-pastels .errorlist, .blue-pastels .errorlist li {
        background: none;
        color: red;
        float: left;
        margin: 0;
        padding: 0;
    }

    .blue-pastels .required {
        color: red;
        float: left;
        margin: 0 5px;
    }

    .blue-pastels .error .required,
    .blue-pastels .field.checkbox .required {
        left: -9999px;
        position: absolute;
        top: 0;
    }

    .blue-pastels label:hover, .blue-pastels label:focus {
        cursor: pointer;
        text-decoration: underline;
    }

    .blue-pastels input, .blue-pastels select, .blue-pastels textarea {
        border: 1px inset #d8d8d8;
        border-bottom: 0;
        clear: both;
        color: #4b4740;
        display: block;
        height: 14px;
        font-family: Georgia, Times, serif;
        font-size: 13px;
        margin: 0 0 15px;
        padding: 5px;
        width: 300px;
    }

    .blue-pastels textarea {
        height: 5em;
    }

    .blue-pastels input[type=file] {
        box-shadow: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        height: 2em;
    }

    .blue-pastels input[type=checkbox], .blue-pastels input[type=radio] {
        width: auto;
    }

    .blue-pastels input:focus, .blue-pastels select:focus,
    .blue-pastels textarea:focus {
        box-shadow: 1px 1px 1px #1e4262;
        -moz-box-shadow: 1px 1px 1px #1e4262;
        -webkit-box-shadow: 1px 1px 1px #1e4262;
    }

    .blue-pastels .field.checkbox label {
        float: left;
        padding-right: 10px;
    }

    .blue-pastels .field.checkbox input {
        position: relative;
        top: -3px;
    }

.button {
    cursor: pointer;
}

.button.blue {
    border-color: #52adcc;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(142,190,205)),
    color-stop(0.75, rgb(251,252,252))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(142,190,205) 25%,
    rgb(251,252,252) 75%
);
    color: #0489b7 !important;
}

.button.blue:hover {
    border-color: #52adcc;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(142,190,205)),
    color-stop(0.75, rgb(251,252,252))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(142,190,205) 25%,
    rgb(251,252,252) 75%
);
    color: #0489b7 !important;
}

.button.red {
    border-color: #cc5252;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(205,142,142)),
    color-stop(0.75, rgb(252,251,251))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(205,142,142) 25%,
    rgb(252,251,251) 75%
);
    color: #b70404 !important;
}

.button.red:hover {
    border-color: #cc5252;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(205,142,142)),
    color-stop(0.75, rgb(252,251,251))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(205,142,142) 25%,
    rgb(252,251,251) 75%
);
    color: #b70404 !important;
}

.button.orange {
    border-color: #db8237;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(223,115,43)),
    color-stop(0.75, rgb(241,210,85))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(223,115,43) 25%,
    rgb(241,210,85) 75%
);
}

.button.orange:hover {
    border-color: #db8237;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.15, rgb(223,115,43)),
    color-stop(0.85, rgb(241,210,85))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(223,115,43) 15%,
    rgb(241,210,85) 85%
);
}

.button.small {
    font-size: 14px;
    padding: .25em 1em;
}

.clear {
    clear: both;
}

.errorlist, .errorlist li {
    background: none;
    color: red;
    margin: 0;
    padding: 0;
}

/** Home Page */
#body-home #main-content {
    background: top center no-repeat;
    height: 350px;
    padding: 50px 125px 50px 175px;
    text-align: center;
    width: 445px;
}

#body-home.anon #main-content {
    background-image: url(../img/home-anon-bg.png);
}

#body-home.auth #main-content {
    background-image: url(../img/home-auth-bg.png);
}

#body-home #main-content h1 {
    line-height: 35px;
    margin-right: 0;
    margin-top: 35px;
}

#body-home #main-content h1 small {
    font-size: 26px;
}

#body-home #main-content p {
    margin-left: auto;
    margin-right: auto;
    width: 425px;
}

#body-home #call-to-action .button {
    margin: 30px 0 0;
}

/** About Page */
#body-about #main-content {
    background-image: url(../img/about-bg.png);
    background-position: 0 120px;
    background-repeat: no-repeat;
}

#photo-collage {
    float: right;
    margin: -45px -5px 0 0;
}

.key-info {
    background: left top no-repeat;
    float: left;
    margin: 60px 0 0;
    padding: 0 20px 0 110px;
    width: 235px;
}

.key-info h2 {
    color: #1e4262;
    font-size: 1.1em;
    margin: 0;
}

.key-info p {
    font-size: 13px;
    line-height: 1.5em;
}

#create-profile {
    margin: 10px 0 0 200px;
}

#privacy {
    background-image: url(../img/about-lock-icon.png);
    margin-left: -10px;
}

#get-involved {
    background-image: url(../img/about-globe-icon.png);
}

/** Register Page (Step 1: Create a Profile) */
#body-register .blue-pastels input {
    clear: left;
}

#body-register #privacy-info {
    float: right;
    margin-top: 20px;
    text-align: center;
    width: 47.5%;
}

#body-register #optin-container {
    width: 44%;
}

#body-register #optin-container label {
    float: left;
    width: 275px;
}

#body-register #id_optin {
    clear: none;
    top: 3px;
    float: right;
}

#body-register #submit {
    float: right;
    margin: 0 50px 0 0;
}

/** Edit Profile Page (Step 2: Edit Profile) */
#body-edit-profile #id_biography {
    resize: vertical;
}

#body-edit-profile #irc_nickname_unique_id-container {
   /* HACK: Hack out fields that ought be invisible */
    display: none;
}

#body-edit-profile #profile-photo {
    border: 1px solid #52adcc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    width: 70px;
}

#body-edit-profile #id_photo {
    clear: right;
    float: left;
    margin: 0 0 0 5px;
    width: 240px;
}

#body-edit-profile #email-container dt, #body-edit-profile #email-container dd {
    color: #000;
    float: left;
    font-family: Georgia, Times, serif;
    margin: 0;
    width: auto;
}

#body-edit-profile dt {
    font-size: 12px;
    font-style: italic;
}

#body-edit-profile #email-container dd {
    font-size: 16px;
    margin: -4px 0 0 4px;
}

#body-edit-profile #manage-profile {
    float: left;
    margin: -35px 0 0 15px;
}

#body-edit-profile .profile-action {
    float: left;
    margin: 0 10px 0 0;
}

#body-edit-profile #cancel {
    float: right;
    margin: 12px 25px 0 0;
}

#body-edit-profile #submit {
    float: right;
    margin: 0 50px 0 0;
}

/** Login Page */
#body-login #submit {
    float: right;
    margin: 0 50px 0 0;
}

/** Profile Page */
#body-profile.pending #main-content h1 {
    float: left;
    width: 230px;
}

#body-profile #pending-approval:before {
    background: url(../img/pending-alert-bg.png) no-repeat center;
    content: "";
    display: block;
    height: 32px;
    left: 17px;
    position: absolute;
    top: 7px;
    width: 8px;
}

#body-profile #pending-approval {
    background: #fdde80;
    background: -moz-linear-gradient(top, #fdde80 0%, #eaaf17 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdde80), color-stop(100%, #eaaf17));
    background: -webkit-linear-gradient(top, #fdde80 0%, #eaaf17 100%);
    background: -o-linear-gradient(top, #fdde80 0%, #eaaf17 100%);
    background: linear-gradient(top, #fdde80 0%, #eaaf17 100%);
    border: 1px solid #d76517;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #e3232f;
    float: left;
    font-family: Verdana, Helvetiva, Arial, "DejaVu Sans", sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: -10px 0 10px 10px;
    min-height: 40px;
    padding: 5px 10px 5px 40px;
    position: relative;
    width: 380px;
}

#body-profile #vouch-form {
    display: block;
    margin: 10px 0 5px;
}

#body-profile #pending-approval p {
    font-weight: bold;
    margin: 0 auto 10px;
    width: 70%;
}

#body-profile #profile-photo {
    border: 1px solid #226b87;
    display: inline-block;
    float: left;
    margin: 0 25px 0 0;
    max-height: 175px;
    max-width: 175px;
}

#body-profile #edit-profile {
    float: right;
    margin-top: -30px;
    position: relative;
    top: 30px;
}

#body-profile #profile-info {
    float: left;
    width: 445px;
}

#body-profile #profile-info .vouched {
    background: url(../img/icon-person.png) center right no-repeat;
    padding-right: 22px;
}

#body-profile #bio {
    width: 73%;
}

/** Invite Page */
#body-invite #id_recipient {
    color: #4b4740;
    height: 14px;
    font-family: Georgia, Times, serif;
    font-size: 13px;
    margin: 0 0 15px;
    padding: 5px;
    width: 300px;
}

/** Search Results */
#body-search #search-form {
    display: block;
    text-align: center;
}

#body-search #q {
    color: #4b4740;
    display: inline-block;
    height: 14px;
    font-family: Georgia, Times, serif;
    font-size: 13px;
    margin: 0 0 15px;
    padding: 5px;
    width: 300px;
}

#body-search .result .profile-photo {
    border: 1px solid #52adcc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    margin: 0 10px 0 35px;
    width: 70px;
}

#body-search .result h2 {
    font-size: 19px;
    margin: 0;
    padding: 20px 0 0;
}

#body-search .result h3 {
    font-size: 16px;
    margin: 0;
}

/** Confirm Profile Delete */
#body-confirm-delete #are-you-sure {
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
}

#body-confirm-delete #actions {
    text-align: center;
}

#body-confirm-delete #delete-action {
    margin-left: 30px;
}

/** Error pages (404, 500, csrf, etc.) */
.error-page #tumblebeast {
    float: right;
}
