// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Table of Contents
// =====================
// Imports
// Fonts
// Variables
// Mixins
// Generic
// Navigation
// Footer
// Homepage
// Generic bootstrap fixes
// Profile
// About
// Generic Groups, Functional Areas and Search Results
// Search Results
// Invite/Invited
// Groups


/* Imports
==================== */
@import "sandstone/sandstone.less";
@import "sandstone/sandstone-resp.less";
@import "mosaic.less";
@import "font-awesome.less";

/* Fonts
==================== */
@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('/media/fonts/OpenSans-Extrabold-webfont.eot');
    src: url('/media/fonts/OpenSans-Extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/OpenSans-Extrabold-webfont.woff') format('woff'),
         url('/media/fonts/OpenSans-Extrabold-webfont.ttf') format('truetype'),
         url('/media/fonts/OpenSans-Extrabold-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('/media/fonts/OpenSans-ExtraboldItalic-webfont.eot');
    src: url('/media/fonts/OpenSans-ExtraboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/OpenSans-ExtraboldItalic-webfont.woff') format('woff'),
         url('/media/fonts/OpenSans-ExtraboldItalic-webfont.ttf') format('truetype'),
         url('/media/fonts/OpenSans-ExtraboldItalic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Variables
==================== */
@white:       #FFFFFF;
@black:       #000000;
@grayDark:    #333333;
@gray:        #666666;
@grayLighter: #CCCCCC;

/* Mixins
==================== */
.transform(@string){
    -webkit-transform:  @string;
    -moz-transform:     @string;
    -ms-transform:      @string;
    -o-transform:       @string;
}

#gradient {
    .vertical-transparent-fade(@direction, @startColor, @endColor) {
        background-color: @endColor;
        background: -moz-linear-gradient(@direction, @startColor, @endColor);
        background: -ms-linear-gradient(@direction, @startColor, @endColor);
        background: -webkit-linear-gradient(@direction, @startColor, @endColor);
        background: -o-linear-gradient(@direction, @startColor, @endColor);
        background: linear-gradient(@direction, @startColor, @endColor); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', 
            endColorstr='@endColor',GradientType=1 ); /* IE6-9 */
    }
}

.icon-white {
    color: @white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* Generic
==================== */
body {
    &.loggedin {
        #content-wrapper {
            background: @white;
        }
        #main { 
            padding: 25px 0 50px;
            @media (max-width: @breakTablet) {
                padding: 25px 20px 50px 20px;
            } 
        }
        &.old {
            #main {
                min-height: 500px;
                input[type=text], input[type=password],
                input[type=email], input[type=search],
                textarea {
                    border: 1px solid @grayLighter !important;
                    background: @white !important;
                    margin-right: 8px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    &.loggedout {
        #masthead { z-index: 1000; }
        #main {
            min-height: 500px;
        }
    }
}
#wrapper {
    width: 100%;
    padding-bottom: 0;
}

#outer-wrapper {
    position: relative;
    height: 100%;
    background: url("/media/img/sandstone/bg-sky.png") #eaeff2;
}

form {
    textarea, 
    input[type=email], 
    input[type=password], 
    input[type=search], 
    input[type=text] {
        .open-sans-light;
        font-style: italic;
        font-size: 18px;
        border: none;
        .border-radius(8px);
    }
}

.alert {
    z-index: 11;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
    .border-radius(4px);
    position: relative;
    text-align: center;
    margin: 0 0 30px 0;
    .close {
        position: relative;
        top: -2px;
        right: -21px;
        line-height: 18px;
    }
}

.alert-heading {
    color: #c09853;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
    color: #468847;
}
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
    color: #3a87ad;
}
.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
} 

dl, dd {
    margin-bottom: 15px !important;
}

/* Navigation
==================== */
#nav-access {
    position: absolute;
    top: auto;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

#nav-background {
    #gradient .vertical(#4ba5dd, #3582bf);
}

nav {
    padding: 10px 5px;
    text-transform: none !important;
    float: none !important;
    height: 35px;
    #create_profile {
        float: right;
        padding-right: 5px;
    }
    .brand {
        float: left;
        img {
            width: 130px;
            padding-right: 15px;
        }
    }
    // Note: These !important tags in here are to override Bootstrap 
    // styles imported from older templates w/out new stylings.
    form.navbar-search {
        margin-top: 0 !important;
        input {
            float: left;
            background: @white url("/media/img/spyglass.png") no-repeat 5px 50%;
            .border-radius(8px) !important;
            height: 30px;
            font-size: 16px !important;
            padding: 0 0 0 30px !important;
            .open-sans-light !important;
            width: 275px;
        } 
    }
    #nav-main {
        float: right;
        position: relative;
        font-size: 14px;
        span.icon {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            font-size: 14px;
            line-height: 24px;
            color: white;
            font-weight: bold;
            padding: 0 10px 0 3px;
            .border-radius(3px 0 0 3px);
            margin-right: 20px;
            #gradient .vertical(#43a6e2, #287cc2);
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 15px;
                width: 24px;
                height: 24px;
                .transform(scale(0.707) rotate(45deg));
                .border-radius(0 3px 0 50px);  
                background-color: #43a6e2;
                background-image: -moz-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: -ms-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: -webkit-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: -o-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: linear-gradient(left top, #43a6e2, #287cc2);
            }
            img {
                position: relative;
                top: 2px;
                left: 5px;
            }
        }
        a {
            color: @textColorPrimary;
            &:hover {
                text-decoration: none;
            }
            .icon-reorder {
                &.open {
                    color: @linkBlue;
                }
            }
        }
        ul.dropdown-menu {
            position: absolute;
            left: -44px;
            background-color: @white;
            border: 1px solid rgba(0, 0, 0, 0.2);
            .border-radius(6px);
            .box-shadow(0px 0px 2px rgba(0, 2px, 2px, 0.2));
            min-width: 190px;
            margin: 5px 0 0 0;
            top: 100%;
            z-index: 1000;
            display: none;
            li {
                display: block;
                line-height: 32px;
                margin: 0;
                a {
                    clear: both;
                    display: block;
                    line-height: 32px;
                    padding: 3px 20px 3px 10px;
                    white-space: nowrap;
                    &:hover {
                        #gradient .vertical (#15aaff, #149fee);
                        color: @white;
                    }
                }
            }
            &:after {
                content: '';
                display: inline-block;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid @white;
                position: absolute;
                top: -8px;
                right: 11px;
                z-index: -100;
            }
        }
    }
}

.persona-button {
    .border-radius(3px);
    span {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 14px;
        line-height: 24px;
        color: white;
        font-weight: bold;
        padding: 0 10px 0 20px;
        position: relative;
        
        &:after {
            content:'';
            position: absolute;
            top: 0;
            right: -12px;
            width: 24px;
            height: 24px;
            z-index: 1;
            .transform(scale(0.707) rotate(45deg));
            .border-radius(0 3px 0 50px);  
        }
        &.icon {
            padding-left: 3px;
            .border-radius(3px 0 0 3px);
            #gradient .vertical(#43a6e2, #287cc2);
            &:after {
                background-color: #43a6e2;
                background-image: -moz-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: -ms-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: -webkit-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: -o-linear-gradient(left top, #43a6e2, #3691d2, #287cc2);
                background-image: linear-gradient(left top, #43a6e2, #287cc2);
            }
            img {
                position: relative;
                top: 2px;
                left: 5px;
            }
        }
        &.signin {
            #gradient .vertical(#56565a, #3a3a3a);
            text-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.35);
            &:after {
                #gradient .vertical(#56565a, #3a3a3a);
                z-index: -1;
            } 
        }
    }
}

/* Footer
==================== */
footer#colophon {
    background: url("/media/img/footer-bkg.png");
    .box-shadow(inset -10px 25px 10px -10px rgba(0, 0, 0, 0.09));
    background-color: #57585c;
    color: @white;
    margin: 0;
    hr {
        border: 0;
        height: 5px;
        margin: 20px 0;
        position: relative;
        background: transparent;
        background-image: -moz-linear-gradient(left, rgba(71,72,76,0) 0%, rgba(71,72,76,0) 10%, 
            rgba(71,72,76,0.65) 50%, rgba(71,72,76,0) 90%, rgba(71,72,76,0) 100%); /* FF3.6+ */
        background-image: -ms-linear-gradient(left, rgba(187,196,204,0) 0%,rgba(187,196,204,0) 10%,
            rgba(71,72,76,0.65) 50%,rgba(71,72,76,0) 90%,rgba(71,72,76,0) 100%); /* IE10+ */
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(187,196,204,0)), 
            color-stop(10%,rgba(71,72,76,0)), color-stop(50%,rgba(71,72,76,0.65)), 
            color-stop(90%,rgba(71,72,76,0)), color-stop(100%,rgba(71,72,76,0))); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(left, rgba(71,72,76,0) 0%,rgba(71,72,76,0) 10%,
            rgba(71,72,76,0.65) 50%,rgba(71,72,76,0) 90%,rgba(71,72,76,0) 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(left, rgba(71,72,76,0) 0%,rgba(71,72,76,0) 10%,
            rgba(71,72,76,0.65) 50%,rgba(71,72,76,0) 90%,rgba(71,72,76,0) 100%); /* Opera 11.10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47484c', endColorstr='#47484c',GradientType=1 ); /* IE6-9 */
        background-image: linear-gradient(left, rgba(71,72,76,0) 0%,rgba(71,72,76,0) 10%,
            rgba(71,72,76,0.65) 50%,rgba(71,72,76,0) 90%,rgba(71,72,76,0) 100%); /* W3C */
    }
    .footer-language {
        text-align: center;
        width: 200px;
        height: 25px;
        overflow: hidden;
        background: url("/media/img/select-arrow.png") no-repeat scroll 96% 8px #FFFFFF;
        .border-radius(5px);
        .box-shadow(0px 2px 4px rgba(0, 0, 0, 0.42));
        select {
            background: transparent;
            width: 225px;
            height: 25px;
            padding: 0 5px;
            font-size: 16px;
            font-family: "Open Sans Light", sans-serif;
            font-style: italic;
            color: #4d4e53;
            line-height: 1;
            border: 0;
            cursor: pointer;
        }
    }
    .footer-license {
        a { color: @white; }
    }
    .footer-nav {
        .span(3);
    }
    @media (min-width: @breakDesktop) {
        .footer-logo {
            width: auto;
        }
        .footer-license {
            .span(6);
            .offset(1);
        }
    }
    @media (max-width: @breakDesktop) {
        .footer-logo {
            width: auto;
        }
        .footer-license {
            .span(3);
            .offset(1);
        }
    }
    @media (max-width: @breakTablet) {
        .footer-license {
            .span(3);
        }
    }
    @media (max-width: @breakMobileLandscape) {
        padding-left: 0;
        padding-right: 0;    
    }
    h5 {
        text-align: center;
        color: @white;
        text-shadow: none;
        padding-bottom: 20px;
        a {
            color: @linkSkyBlue;
        }
    }
}

/* Homepage
==================== */
body#home {
    a#back-to-top {
        z-index: 1000;
        bottom: 20px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        .transition(background-color 0.3s linear 0s);
    }
    &.loggedout {
        #main {  
        padding: 0; 
            &.container {
                width: auto;
                padding-right: 0;
                padding-left: 0;
            }
        }

        #mosaic {
            width: 100%;
            position: absolute;
            top: 0;
            span {
                background: transparent url('/media/img/mosaic_overlay.png') 0 0 repeat-x;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: block;
            }
            @media (min-width: 1200px) {
                ul { 
                    max-height: 300px;
                    overflow: hidden;
                }
            }
        }

        #main-feature {
            text-align: center;
            padding: 60px 0;
            z-index: 11;
            @media (max-width: @breakMobileLandscape) { 
                padding: 40px 0;
            }
            hr {
                border: 0;
                height: 5px;
                margin: 20px 0;
                position:relative;
                background: transparent;
                background-image: -moz-linear-gradient(left, rgba(187,196,204,0) 0%, rgba(187,196,204,0) 10%, 
                    rgba(187,196,204,0.65) 50%, rgba(187,196,204,0) 90%, rgba(187,196,204,0) 100%); /* FF3.6+ */
                background-image: -ms-linear-gradient(left, rgba(187,196,204,0) 0%,rgba(187,196,204,0) 10%,
                    rgba(187,196,204,0.65) 50%,rgba(187,196,204,0) 90%,rgba(187,196,204,0) 100%); /* IE10+ */
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(187,196,204,0)), 
                    color-stop(10%,rgba(187,196,204,0)), color-stop(50%,rgba(187,196,204,0.65)), 
                    color-stop(90%,rgba(187,196,204,0)), color-stop(100%,rgba(187,196,204,0))); /* Chrome,Safari4+ */
                background-image: -webkit-linear-gradient(left, rgba(187,196,204,0) 0%,rgba(187,196,204,0) 10%,
                    rgba(187,196,204,0.65) 50%,rgba(187,196,204,0) 90%,rgba(187,196,204,0) 100%); /* Chrome10+,Safari5.1+ */
                background-image: -o-linear-gradient(left, rgba(187,196,204,0) 0%,rgba(187,196,204,0) 10%,
                    rgba(187,196,204,0.65) 50%,rgba(187,196,204,0) 90%,rgba(187,196,204,0) 100%); /* Opera 11.10+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbc4cc', endColorstr='#bbc4cc',GradientType=1 ); /* IE6-9 */
                background-image: linear-gradient(left, rgba(187,196,204,0) 0%,rgba(187,196,204,0) 10%,
                    rgba(187,196,204,0.65) 50%,rgba(187,196,204,0) 90%,rgba(187,196,204,0) 100%); /* W3C */
            }
            form {
                input {
                    background: @white url("/media/img/spyglass.png") no-repeat 8px 50%;
                    background-color: @white;
                    height: 50px;
                    width: 600px;
                    padding: 0  0 0 35px;
                    font-size: 24px;
                    @media (max-width: @breakTablet) {
                        width: 400px;
                    }
                    @media (max-width: @breakMobileLandscape) {
                        width: 250px;
                        font-size: 18px;
                    }
                } 
            }
        }

        #information {
            padding-bottom: 50px;
            .clearfix;
            @media (max-width: @breakMobileLandscape) {
                 padding-bottom: 25px;
            }
            #quote, #about, #mozfacts {
                color: #4d4e53;
            }
            h2 {
                height: 72px;
                margin: 0;
            }
            #quote, #mozfacts {
                .span(2);
                p {
                    font-size: 13px;
                    text-align: left;
                }
            }
            #about {
                width: 500px;
                float: left;
                margin: 0 10px 0 20px;
                p {
                    font-size: 16px;
                    line-height: 24px;
                }
                @media (max-width: @breakDesktop) {
                    width: auto;
                }
                @media (max-width: @breakMobileLandscape) {
                    h2 {
                        margin-bottom: 20px;
                    }
                }

            }
            #quote {
                font-style: italic;
                position: relative;
                span {
                    position: absolute;
                    .border-radius(100%);
                    width: 60px;
                    height: 60px;
                    left: 18px;
                    border: 6px solid @white;
                    .box-shadow(0px 0px 2px rgba(0, 2px, 2px, 0.1));
                    img {
                        .border-radius(100%);
                    }
                }
                blockquote {
                    margin-top: 75px;
                    p {
                        &:after, &:before {
                            content: '"';
                            font-size: 30px;
                            position: absolute;
                            font-style: italic;
                        }
                        &:after {
                            bottom: 25px;
                        }
                        &:before {
                            left: -20px;
                            top: 67px;
                        }
                    }
                    small {
                        font-weight: bold;
                    }
                }
                @media (max-width: @breakDesktop) {
                    .hidden;
                }
            }
            #mozfacts {
                font-style: italic;
                h2 {
                    text-align: center;
                    font-family: "Open Sans Extrabold", sans-serif;
                    line-height: 72px;
                }
                @media (max-width: @breakDesktop) {
                    .hidden;
                }
            }
        }
        
        #get-involved {
            color: @white;
            background: url("/media/img/homepage-getinvolved-bkg.png") repeat-x;
            background-color: #2c80c5;
            float: none;
            .content {
                .span(6);
                .offset(2);
                padding: 40px 0;
                h2 {
                    color: @white;
                    text-shadow: none;
                }
                a {
                    .button;
                    #gradient > .vertical(#4d4e53, #3c3d42);
                    padding-left: 30px;
                    padding-right: 30px;
                    &:hover,
                    &:focus {
                        .button-hover-box-shadow(darken(#4d4e53, 10%));
                    }
                }
                @media (max-width: @breakDesktop) {
                    width: auto;
                    .offset(0);
                }
                @media (max-width: @breakTablet) {
                    padding: 40px 0 20px;
                }
            }
        }
    }
    &.loggedin {
        #main {
            #profile-info {
                .span(3);
                margin: 0;
                posistion: relative;
                a.profile-photo {
                    .border-radius(100%);
                    position: absolute;
                    border: 5px solid @white;
                    .box-shadow(0px 0px 2px rgba(0, 2px, 2px, 0.2));
                    width: 150px;
                    height: 150px;
                    img {
                        .border-radius(100%);
                    }
                    @media (max-width: @breakDesktop) {
                        margin-left: -80px;
                    }
                }
                .profile-details {
                    margin-top: 170px;
                    h2 { margin: 0 0 8px 0; }
                    h4 { margin: 20px 0 0; }
                    @media (max-width: @breakDesktop) {
                        .languages, h4 {
                            .hidden;
                        }
                    }
                }
                @media (max-width: @breakDesktop) {
                    text-align: center;
                    width: 100%;
                }
            }
            #content-info {
                .span(8);
                padding: 0 10px 0 25px;
                margin: 0;
                border-left: 1px solid lighten(@black,90%);
                h2 { margin: 30px 0 10px; }
                h3 { font-size: 24px; }
                section, form {
                    margin-bottom: 20px;
                }
                @media (max-width: @breakMobileLandscape) {
                    padding: 0;
                    text-align: center;
                }
                #homepage-search {
                    input {
                        width: 100%;
                        height: 40px;
                        border: 1px solid lighten(@black,90%);
                        font-size: 20px;
                        background: @white url("/media/img/spyglass.png") no-repeat 5px 50% !important;
                        padding: 0 0 0 30px !important;
                        display: block;
                        @media (max-width: @breakDesktop) { 
                            width: 95%;
                        }
                        @media (max-width: @breakTablet) { 
                            width: 400px;
                        }
                        @media (max-width: @breakMobileLandscape) { 
                            width: 91%;
                            font-size: 16px;
                        }
                    }
                    small {
                        font-size: 12px;
                        font-style: italic;
                        color: lighten(@black,70%);
                    }
                    @media (max-width: @breakDesktop) {
                            margin: 25px 0 0 0;
                    }
                }
                .announcements-mozfacts {
                    .clearfix;
                    margin: 50px 0;
                    img { 
                        min-width: 60px;
                        min-height: 60px;
                        margin-right: 15px;
                        float: left;
                    }
                    @media (max-width: @breakDesktop) {
                        margin: 25px 0;
                    }

                }
                .functional-areas, .groups {
                    .span(4);
                    position: relative;
                    margin-bottom: 20px;
                    h2 {
                        line-height: 0.2;
                        height: 30px;
                        margin: 0;
                        padding: 0 0 0 50px;
                        @media (max-width: @breakMobileLandscape) {
                            padding: 0;
                            margin-top: 60px;
                        }
                    }
                    span.icon {
                        top: -20px;
                        position: absolute;
                        .border-radius(100%);
                        width: 40px;
                        height: 40px;
                        border: 3px solid @white;
                        .box-shadow(0px 0px 2px rgba(0, 2px, 2px, 0.2));
                        img {
                            .border-radius(100%);
                        }
                        @media (max-width: @breakMobileLandscape) {
                            left: 40%;
                            width: 60px;
                            height: 60px;
                        }
                    }
                    @media (max-width: @breakTablet) {
                        width: 100%;
                        margin-bottom: 50px;
                    }
                }
                .groups {
                    margin: 0;
                }
                .functional-areas {
                    margin-left: 0 !important;
                    margin-right: 20px;
                }
                @media (max-width: @breakDesktop) {
                    border: none;
                    h1 {
                        .hidden;
                    }
                    width: auto;
                }
            }
        }
    }
}

// Styles below this line are still using Bootstrap (media/css/bootstrap.min.css)

/* Generic bootstrap fixes
=========================== */
.tabbable {
    h2 {
        border-bottom: 1px solid @grayDark;
        margin-bottom: 20px;
        padding: 15px 0 3px;
    }
    li { 
        margin-left: 0;
    }
    button {
        margin: 20px 10px 0 0;
    }
    .checkbox {
        min-height: auto;
    }
    input { line-height: 24px; }
    .ui-widget-content {
        background: transparent;
        border: none;
        input {
            border: 1px solid @grayLighter !important;
            height: 30px !important;
            padding: 0 3px !important;
            background: @white !important;
        }
        li.tagit-new {
            padding: 0 !important;
        }
    }
    .tab-content {
        overflow: hidden;
        min-height: 400px;
    }
}

/* Profile (View/Edit)
==================== */
body#profile {
    .privacy-view {
        form {
            float: right;
            margin-right: -30px;
            @media (max-width: 767px) {
                margin-right: 0;
            }
        }
    }
    #profile-info {
        margin-bottom:15px;
        h2 {
            font-size: 36px;
            letter-spacing: -1px;
            margin: 10px 0 20px;
        }
        dt {
            margin: 10px 0;
            font-size:22px;
            letter-spacing:-.5px;
            line-height:100%;
            
        }
        dl {
            overflow: hidden;
            padding-bottom: 0.2em;
        }
        #skills, #languages {
            margin-left:0;
            background: none;
            border: 0;
        }
    }
}

body#edit-profile {
    .edit-profile {
        max-width: 700px;
        input, textarea {
            border: 1px solid @grayLighter;
        }
        hr {
            .clearfix;
            margin: 18px 0;
            border: 0;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #ffffff;
        }
        .photo .thumbnail {
            background-color: @white;
            margin-bottom: 15px;
            width: 70px;
        }
        
        #edit_controls {
            margin: 20px 0;
            button, a {
                width: 175px; 
                margin-right: 8px; 
            }
        }
        .privacy-global-settings {   
            span.label-text, .privacy-all {
                float: left;
            }
            .privacy-all select {
                width: 180px;
            }
            span.label-text {
                margin: 5px 10px 0 0;
            }
            .control-group > label {
                margin-right: 15px;
                width: 300px;
            }
        }
        .privacy-controls {
            float: right;
            select {
                width: 100px;
            }
            label {
                margin: 3px 5px 0 0;
                float: left;
            }
        }
        #privacy-settings .control-group > label {
            margin-right: 15px;
            width: 300px;
        }
        .delete {
            display: block;
            margin-top: 15px;
            width: 100px;
        }
        @media (max-width: 768px) {
            .privacy-controls {
                float: none;
            }

            .photo .privacy-controls {
                margin: 0 0 15px 0;
            }

            .privacy-view form {
                float: none;
            }
            .control-group {
                float: none;
            }

            #skills .privacy-controls {
                margin: 0 0 25px 0;
            }
        }
    }
}

/* About
==================== */
body#about {
    #photo-collage {
        float: right;
        padding: 10px 0 10px 15px;
        @media (max-width:  @breakTablet) {
            float: none;
            padding: 10px 0;
        }
    }
}

/* Generic Groups, Functional Areas and Search Results
====================================================== */
body.search-page, body#group-show {
    .avatar {
        width: 70px;
        height: 70px;
        margin: 0 15px 0 0;
        padding: 0;
        float: left;
        .border-radius(100%);
        border: 5px solid @white;
        .box-shadow(0px 0px 2px rgba(0, 2px, 2px, 0.2));
        img {
            display: block;
            height: 70px;
            width: 70px;
            margin: 0;
            .border-radius(100%);
        }
    }
    .details {
        float: left;
        margin: 0;
        padding: 0;
        ul {
            width: 240px;
            margin: 0;
            padding: 10px 0;
            font-size: 12px;
            list-style: none;
            text-align: left;
            white-space: nowrap;
            li {
                margin: 0;
                padding: 0;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }
    }
    .result {
        .span(5);
        margin-top: 15px;
        a {
            min-width: 340px;
            height: 80px;
            margin-bottom: 25px;
        }
        h2 {
            font-size: 20px;
            margin: 0;
            width: 220px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 3px;
        }
    }
}

/* Search Results
================== */
body#search {
    .search-options {
        display: none;
        input, span {
            display: block;
            float: left;
        }
        input {
            margin-right: 10px;
        }
    }
    #search-form {
        button {
            margin: -10px 8px 0 0;
        }
    }
}

/* Invite/Invited
================== */
body#invite {
    .bump-button {
        margin-bottom: 9px;
    }
}
body#invited, body#invite {
    .old {
        min-height: 500px;
    }
}

/* Groups
================== */
body#group-show {
    button {
        .button;
    }
    .group-meta {
        border-bottom: 1px solid lighten(@black,90%);
        background: lighten(@black,98%);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px 4px 4px 4px;
        padding: 20px;
        margin: 0 0 10px 0;
        span {
            font-weight: 800;
            text-decoration: none;
            font-style: normal;
        }
        .clearfix;
        .row {
            .clearfix;
        }
        .curated-group-details {
            .span(5);
            list-style: none;
            text-align: left;
            margin-bottom: 10px;
            li {
                margin: 0;
                padding: 0;
                line-height: 18px;
                overflow: hidden;
            }
            @media (max-width: @breakMobileLandscape) { 
                width: 100%;
            }
        }
        .steward {
            .span(5);
            @media (max-width: @breakMobileLandscape) { 
                width: 100%;
            }
            .avatar {
                float: left;
                margin-right: 10px;
            }
            ul {
                float: left;
            }
            h3 {
                font-size: 1.3em;
            }
        }
    }
    #toggle-group {
        margin: 15px 0;
    }
}

body#group-index {
    .sort {
        form {
            input {
                .button !important;
                margin-left: 10px;
            }
            select {
                margin-bottom: 0;
            }
        }
    }
    #groups {
        .clearfix;
        ul.group-list {
            list-style: none;
            .clearfix;
            margin: 0 15px 15px 0;
            float: left;
            width: 30%;
            @media (max-width: @breakTablet) { 
                width: 100%;
            }
            li {
                margin: 0 0 15px 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}
