/** Reset */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff url(../img/mozilla/background.jpg) no-repeat left top;
    color: #4b4740;
    font: 100%/1.4 Georgia, Times, serif;
}

img {
    border: 0;
}

/** Header */

body {
    margin-top: 30px;
    min-width: 880px;
}

#header, #footer {
    display: block;
}

#main {
    max-width: 1000px;
}

#header {
    background: #2a2a2a;
    background: rgba(38, 38, 38, 0.98);
    border-bottom: 10px solid #a5151e;
    height: 44px;
    margin: 0 0 15px 6%;
    padding-top: 70px;
    position: relative;
    zoom: 1;
}

#header h1 {
    background: transparent url(../img/mozilla/dino.png) no-repeat left top;
    height: 227px;
    left: -130px;
    margin: 0;
    position: absolute;
    text-transform: lowercase;
    top: -30px;
    width: 381px;
    z-index: 1;
}

#header h1 a, #header h1 span {
    color: #fff;
    display: inline;
    float: left;
    font-family: MetaBold, 'Trebuchet MS', Helvetica, Arial, "DejaVu Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 70px 100px 0 130px;
    padding: 0 40px;
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#header h1 a:hover {
    color: #eee;
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4),
                 0 0 10px rgba(255, 255, 255, 0.4);
}

#header-contents {
    bottom: 0;
    padding-left: 305px;
    position: absolute;
    text-align: right;
}

#nav {
    float: left;
}

#nav ul {
    margin: 0;
}

#nav li {
    background: none;
    float: left;
    padding: 0;
}

#nav a, #nav span {
    color: #ccc;
    display: block;
    font-family: MetaBold, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 15px;
}

#nav a:hover, #nav a:focus {
    text-decoration: none;
    color: #f59d56;
}

#nav .selected, #nav .on {
    background: url(../img/mozilla/menu-divider.png) bottom right repeat-x;
    color: #f59d56;
}

#quick-search {
    float: left;
    line-height: 1;
    padding: 13px 0 5px 15px;
    white-space: nowrap;
}

#quick-search #q {
    background: #fff url(../img/mozilla/search-icon.png) 2px 50% no-repeat;
    border: 1px solid #1e4262;
    box-shadow: inset 1px 1px 1px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: inset 1px 1px 1px rgba(100, 100, 100, 0.5);
    -webkit-box-shadow: inset 1px 1px 1px rgba(100, 100, 100, 0.5);
    color: #999;
    font-size: 11px;
    height: 17px;
    padding: 2px 4px 2px 20px;
    position: relative;
    vertical-align: middle;
    width: 170px;
    z-index: 2;
}

#quick-search #q:focus {
    color: #333;
}

#quick-search-btn {
    background: url(../img/mozilla/search-submit.png) 2px 50% no-repeat;
    left: -18px;
    width: 42px;
    height: 23px;
    border: 0px;
    font-size: 1px;
    text-indent: -9999px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

/** Footer */

#footer {
    background: #2a2a2a;
    border-top: 13px solid #a5151e;
    clear: both;
    color: #999;
    margin: 105px 0 0 6%;
    padding: 25px 0 50px 64px;
    position: relative;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6,
#footer p {
    color: #999;
}

.footer-nav {
    list-style: none;
    margin: 0;
}

.footer-nav li {
    background: none;
    font-size: 12px;
    margin-bottom: 0.25em;
    padding-left: 0;
}

.footer-nav-title {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#logo-footer {
    float: left;
    margin: 0 35px 0 0;
}

#footer-link-spacer {
    display: block;
    height: 20px;
}

#copyright {
    float: left;
    font-size: 11px;
    width: 475px;
}

#copyright-links {
    line-height: 1;
}

#copyright-links a {
    font-size: 11px;
}

#language-switcher {
    font-family: MetaBold, "Trebuchet MS", sans-serif;
    font-size: 12px;
    margin: 16px 0 0 15px;
    position: absolute;
    right: 5%;
}

#footer-wrap {
    background: transparent url(../img/layout/footer-bg.png) no-repeat left bottom;
    clear: both;
}

/** Main content area */

#main {
    padding: 0 6%;
    position: relative;
    z-index: 2;
    zoom: 1;
}

#main-content {
    margin: 0 0 0 40px;
    zoom: 1;
}

/** Tag defaults */

li, p, code, dd, dt {
    font-size: 14px;
}

p {
    margin-bottom: 1em;
}

p.section {
    margin: 0;
}

ul li {
    background: transparent url(../img/mozilla/bullet.png) no-repeat 0 0.5em;
    list-style-type: none;
    padding-left: 10px;
}

dl {
    margin-bottom: 1em;
}

dt {
    font-weight: bold
    text-transform: uppercase;
}

dd {
    margin: 0 0 0.5em 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #2a2a2a;
    font-family: MetaBold, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h1 {
    color: #b91e27;
    font-size: 45px;
    margin: .55em 0;
}

h2 {
    font-size: 25px;
    margin: .75em 0;
}

h3 {
    font-family: MetaBold, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0.8em 0;
}

.section h3 {
    margin-top: 0;
}

h4 {
    font-size: 15px;
    margin: .85em 0;
}

h5 {
    font-size: 12.5px;
    margin: .875em 0;
}

ul, ol {
    margin: 1em 0 1em 30px;
}

li ul, li ol {
    margin: 0 0 0 30px;
}

td, th {
    padding: 0.2em;
}

table.data {
    border: 1px solid;
    border-collapse: collapse;
    margin: 0.5em auto;
}

table.data caption {
    font-size: small;
    font-style: italic;
    margin: 1em auto 0.2em;
    text-align: center;
}

table.data thead th {
    background: #e4ecec;
    empty-cells: hide;
}

table.data th, table.data td {
    border: 1px solid #ccc;
}

tr.odd {
    background: #f5f5f5;
}

table.data tbody th:first-child {
    text-align: right;
}

table.data thead th {
    vertical-align: middle;
}

pre {
    background: #eee;
    border: 1px solid #ccc;
    margin: 1em;
    padding: 1em;
}

a:link, a:visited {
    color:#148cb5;
    text-decoration:none;
}

a:hover, a:focus {
    text-decoration: underline;
}

blockquote {
    margin: 1em;
}

fieldset {
    background: #f0f0f0;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 1em;
}

fieldset legend {
    font-family: Georgia, serif;
    font-weight: bold;
}

#main-content h1 {
    color: #b91e27;
    font-size: 45px;
    line-height: 1;
    margin: 10px 6% 15px 0;
    padding: 0;
}

/** Buttons, utility classes, etc. */

.button, a.button {
    border: 1px solid;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 1px 1px 3px #888;
    -moz-box-shadow: 1px 1px 3px #888;
    -webkit-box-shadow: 1px 1px 3px #888;
    color: #b01a04;
    display: inline-block;
    font-family: MetaBold, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 1px 1px #fff;
}

/** Media Queries */

@media screen and (max-width: 980px) {
    #nav a, #nav span {
        font-size: 13px;
        padding: 15px 12px;
    }

    #header, #footer, #crumbs {
        margin-left: 3%;
    }

    #main {
        padding-left: 3%;
    }
}
