[submodule "vendor-local/src/django-statsd"]
	path = vendor-local/src/django-statsd
	url = https://github.com/andymckay/django-statsd/
[submodule "vendor-local/src/django-autocomplete-light"]
	path = vendor-local/src/django-autocomplete-light
	url = git://github.com/yourlabs/django-autocomplete-light
[submodule "vendor"]
        ignore = dirty
	path = vendor
	url = git://github.com/mozilla/playdoh-lib
[submodule "vendor-local/src/elasticutils"]
	path = vendor-local/src/elasticutils
	url = git://github.com/mozilla/elasticutils
[submodule "vendor-local/src/pyes"]
	path = vendor-local/src/pyes
	url = git://github.com/aparo/pyes
[submodule "vendor-local/src/django-tastypie"]
	path = vendor-local/src/django-tastypie
	url = git://github.com/toastdriven/django-tastypie
[submodule "vendor-local/src/pystatsd"]
	path = vendor-local/src/pystatsd
	url = git://github.com/jsocol/pystatsd
[submodule "vendor-local/src/django-csp"]
	path = vendor-local/src/django-csp
	url = git://github.com/mozilla/django-csp
[submodule "vendor-local/src/happyforms"]
	path = vendor-local/src/happyforms
	url = https://github.com/mozilla/happyforms.git
[submodule "vendor-local/src/django-jingo-offline-compressor"]
	path = vendor-local/src/django-jingo-offline-compressor
	url = https://github.com/peterbe/django-jingo-offline-compressor.git
[submodule "vendor-local/src/basket-client-submodule"]
	path = vendor-local/src/basket-client-submodule
	url = git://github.com/mozilla/basket-client.git
[submodule "mozillians/static/mozillians/css/less-prefixer"]
	path = mozillians/static/mozillians/css/less-prefixer
	url = https://github.com/JoelSutherland/LESS-Prefixer.git
[submodule "vendor-local/src/sorl-thumbnail"]
	path = vendor-local/src/sorl-thumbnail
	url = git://github.com/mariocesar/sorl-thumbnail
[submodule "vendor-local/src/django-waffle"]
	path = vendor-local/src/django-waffle
	url = git://github.com/jsocol/django-waffle.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid/
