[submodule "vendor"]
        ignore = dirty
	path = vendor
	url = git://github.com/mozilla/mozillians-lib.git
[submodule "media/js/libs/tag-it"]
        ignore = dirty
	path = media/js/libs/tag-it
	url = git://github.com/aehlke/tag-it.git
[submodule "vendor-local/src/django-statsd"]
	path = vendor-local/src/django-statsd
	url = https://github.com/andymckay/django-statsd/
[submodule "vendor-local/src/basket-client"]
	path = vendor-local/src/basket-client
	url = git://github.com/mozilla/basket-client.git
[submodule "vendor-local/src/django-autocomplete-light"]
	path = vendor-local/src/django-autocomplete-light
	url = git://github.com/yourlabs/django-autocomplete-light
