*.py[co]
*.sw[po]
*.mo
*~
pip-log.txt
build.py
.coverage
.vagrant
.DS_Store
.noseids
.virtualenv
docs/_gh-pages
/vendor-local/
/vendor/
vagrantconfig_local.yaml
docs/_build
locale*
/venv/
/static/
/media/uploads/
mozillians/settings/local.py
/media/humans.txt
mozillians/humans/tmp
