settings_local.py
*.py[co]
*.sw[po]
.coverage
pip-log.txt
docs/_gh-pages
build.py
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
vendor/
.noseids
tmp/*
*~
locale/*
*.mo
.vagrant
puppet/cache/*
puppet/manifests/build/
vagrantconfig_local.yaml
docs/_build
settings/*local.py
directory
media/uploads
media/cache
venv/
mozillians.db
media/static
locale*
*.less.css
