*.py[co]
*.sw[po]
*.mo
*~
pip-log.txt
build.py
.coverage
.DS_Store
.noseids
.virtualenv
docs/_gh-pages
docs/_build
locale*
/venv/
/static/
/media/uploads/
/elasticsearch*/
mozillians/settings/local.py
