{% extends "base.html" %}

{% block page_title %}{{ _('Search Results') }}{% endblock %}

{% block body_id %}search{% endblock %}

{% block body_class %}
  {{ super() }}
  search-page
{% endblock %}

{% block search %}{% endblock %}

{% block content %}
  {% if not user.is_authenticated() or not user.userprofile.is_vouched %}
    <p class="alert">
      {{ _('You are currently searching public profiles.') }}
      {% if not user.is_authenticated() %}
        {% trans next_url=request.get_full_path(), title=_('Sign In'), login_url=nonprefixed_url('oidc_authentication_init') %}
          View more results by
          <a href="{{ login_url }}?next={{ next_url }}" title="{{ title }}">
            logging in</a>.
        {% endtrans %}
      {% else %}
        {{ _('View more results when vouched.') }}
      {% endif %}
    </p>
  {% endif %}
  <h1>{{ _('Search') }}</h1>
  <form method="GET" id="search-form" action="{{ url('phonebook:haystack_search') }}">
    {{ field_with_attrs(form.q, placeholder=_('Search for people, groups and more')) }}

    {{ form.limit }}
    <button type="submit">
      <span class="icon-search"></span>
      {{ _('Search') }}
    </button>
    <button type="button" id="advanced">
      <span class="icon-chevron-down"></span>
      {{ _('Advanced Options') }}
    </button>
    <div class="search-options">
      <div class="field">
        {{ form.models }}
      </div>
    </div>
  </form>
  {% if not form.cleaned_data %}
    <div class="well">
      {% trans %}
        <h2>Search for a Mozillian or a group</h2>
        <p>
          You can search for another Mozillian using their name, email, username and bio keywords
          or you can search for groups by name and group membership status.
        </p>
      {% endtrans %}
    </div>
  {% else %}
    {% if page_obj.object_list %}
      <h2>{{ _('Results') }}</h2>
      <p>
        {% trans count=page_obj.paginator.count %}
          {{ count }} entry matching
          {% pluralize %}
          {{ count }} entries matching
        {% endtrans %}
        {% if form.cleaned_data.q %}
            "{{ form.cleaned_data.q }}"
        {% endif %}
      </p>
      {% with items=page_obj.object_list %}
        {% include 'includes/pagination.html' %}
      {% endwith %}
      <div class="row">
      {% for result in page_obj.object_list %}
        {{ search_result(result) }}
      {% endfor %}
      </div>
      {% with items=page_obj.object_list %}
        {% include 'includes/pagination.html' %}
      {% endwith %}
    {% else %}
      <div class="well">
        <p id="not-found">
          {% trans query=form.cleaned_data.q %}
            Sorry, we cannot find a group or person related to "{{ query }}".
          {% endtrans %}
        </p>
        {% if user.is_authenticated() %}
          <p>
            {% trans invite=url('phonebook:invite') %}
              Maybe they're not a Mozillian yet?
              <a href="{{ invite }}">Invite this person</a> to create a profile.
            {% endtrans %}
          </p>
          <hr/>
          <h3>{{ _('Need help? Contact a steward in a functional area!') }}</h3>
          <div class="popular-groups">
            <ul id="groups" class="tagit ui-widget ui-corner-all">
              {% for group in functional_areas %}
                <li class="tagit-choice ui-widget-content ui-state-default
                           ui-corner-all p-category category">
                  <a href="{{ url('groups:show_group', group.url) }}">
                    {{ group.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endif %}

  {% endif %}
{% endblock %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/search.js') }}"></script>
    <script src="{{ static('mozillians/js/pagination.js') }}"></script>
  {% endcompress %}
{% endblock %}
