<form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=developer">
  {{ csrf() }}
  <div id="developer-tab" class="hidden-xs hidden-sm settings-tab">
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Developer') }}</div>
      <div class="panel-body">
        <fieldset id="services" class="edit-controls">
          <p class="field_description">
            {% trans bugzilla_url='http://bugzilla.mozilla.org',
                     reps_url='http://reps.mozilla.org' %}
              The Phonebook offers an API (currently v1) to help authorize contributors and share profile data to other
              tools and sites like <a id="services-bugzilla-url" href="{{ bugzilla_url }}">Bugzilla</a> and the
              <a id="services-mozilla-reps" href="{{ reps_url }}">Mozilla Reps Portal</a>.
            {% endtrans %}
          <h4>{{ _('Privacy') }}</h4>
          <p>
            {{ profile_form.allows_community_sites.label_tag() }}
            {{ profile_form.allows_community_sites }}
          </p>
          <p>
            {{ profile_form.allows_mozilla_sites.label_tag() }}
            {{ profile_form.allows_mozilla_sites }}
          </p>
          <p>
            API Version 2, currently under testing, respects the defined
            per field privacy levels. These fields will become obsolete
            and eventually dropped along with the API Version 1.
          </p>

          {% if user.userprofile.is_vouched and waffle.flag('apiv2') %}
            <h4>{{ _('Developers') }}</h4>
            <p>Developers can request API keys and manage existing ones using our dedicated API page.</p>
            <a class="cancel" href="{{ url('phonebook:apikeys') }}">Manage API keys</a>
          {% endif %}
        </fieldset>
      </div>
    </div>
  </div>
</form>
