<form class="edit-profile" id="edit-profile-form" method="POST" action="" enctype="multipart/form-data">
   {{ csrf() }}

   {% if (registration_form.non_field_errors() or user_form.non_field_errors()) %}
     <ul class="unstyled">
       {% for error in registration_form.non_field_errors() %}
         <li class="alert alert-error">{{ error }}</li>
       {% endfor %}
       {% for error in user_form.non_field_errors() %}
         <li class="alert alert-error">{{ error }}</li>
       {% endfor %}
     </ul>
   {% endif %}

   <div class="panel panel-default">
     <div class="panel-heading">{{ _('Basic Information') }}</div>
     <div class="panel-body">
       <div class="row">
         <div class="col-md-4">
           {% include 'phonebook/includes/photo_form.html' %}
         </div>

         <div class="col-md-8 registration">
           <fieldset>
             <div class="row">
               <div class="col-md-8 col-sm-8">
                 {{ mozillians_field(user_form.username) }}
               </div>
               <div class="col-md-4 col-sm-4 text-right">
                 <div class="privacy-controls">
                   <span class="info glyphicon glyphicon-eye-open" aria-hidden="true" title="{{ _('Choose visibility group for this field') }}"></span>
                   <div class="btn-group btn-group-xs" role="group">
                     <button type="button" class="btn btn-default active">{{ _('Public') }}</button>
                   </div>
                 </div>
               </div>
             </div>
           </fieldset>

           <fieldset>
             <div class="row">
               <div class="col-md-8 col-sm-8">
                 {{ mozillians_field(registration_form.full_name) }}
               </div>
               <div class="col-md-4 col-sm-4 text-right">
                 {{ privacy_field(registration_form.privacy_full_name) }}
               </div>
             </div>
           </fieldset>
         </div>
       </div>
     </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">{{ _('Location') }}</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            {% for error in registration_form.errors['location'] %}
              <span class="error-message">{{ error }}</span>
            {% endfor %}
            <div id="location">
              <div id="map" data-mapboxid="{{ mapbox_id }}"></div>
              <div id="location_gps_button"><i class="icon-target"></i></div>
              <img id="location_gps_loading" src="{{ static('mozillians/img/loader_blue.gif') }}">
              <input id="location_search" type="search"/>
              <input id="location_search_button" class="button" type="button" value="Search location"/>
              <img id="location_search_loading" src="{{ static('mozillians/img/loader_blue.gif') }}">
              <ol id="location_search_results" class="scroll-shadows"></ol>
            </div>
            <div id="gps_error" class="error-message" style="display:none;">
              <i class="icon-target"></i> {{ _('You have denied Location services.') }}
            </div>
            <div id="location_wrong" >
              <a id="improve_this_map" target="_blank"
                 href="http://www.openstreetmap.org/note/new#map=13/{{profile.lat}}/{{profile.lng}}&layers=N">
                Improve this map</a>
              <a href="https://wiki.mozilla.org/Mozillians/Locations" target="_blank" class="small">[learn more]</a>
            </div>
          </fieldset>

          <fieldset>
            <div class="row">
              <div class="col-md-9 col-sm-8">
                {{ mozillians_field(registration_form.timezone) }}
              </div>
              <div class="col-md-3">
                {{ privacy_field(registration_form.privacy_timezone) }}
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="row">
              <div class="col-md-5 col-sm-6 registration">
                <label class="required">{{ _('Country') }}</label>
                <span id="display_country" class="geodisplay"
                      data-mapbox="{{ profile.geo_country.name if profile.geo_country else ''}}">
                </span>
              </div>
              <div class="col-md-4 col-sm-3">
                <div class="geocheckbox {% if registration_form.savecountry.errors %} error {% endif %}">
                  {{ registration_form.savecountry.label_tag() }}
                  {{ registration_form.savecountry }}
                  {% for error in registration_form.savecountry.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-3">
                {{ privacy_field(registration_form.privacy_geo_country) }}
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="row">
              <div class="col-md-5 col-sm-6">
                <label>{{ _('Region') }}</label>
                <span id="display_province" class="geodisplay"
                      data-mapbox="{{ profile.geo_region.name if profile.geo_region else ''}}">
                </span>
              </div>
              <div class="col-md-4 col-sm-3">
                <div class="geocheckbox {% if registration_form.saveregion.errors %} error {% endif %}">
                  {{ registration_form.saveregion.label_tag() }}
                  {{ registration_form.saveregion }}
                  {% for error in registration_form.saveregion.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-3">
                {{ privacy_field(registration_form.privacy_geo_region) }}
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="row">
              <div class="col-md-5 col-sm-6">
                <label>{{ _('City') }}</label>
                <span id="display_city" class="geodisplay"
                      data-mapbox="{{ profile.geo_city.name if profile.geo_city else ''}}"></span>
              </div>
              <div class="col-md-4 col-sm-3">
                <div class="geocheckbox {% if registration_form.savecity.errors %} error {% endif %}">
                  {{ registration_form.savecity.label_tag() }}
                  {{ registration_form.savecity }}
                  {% for error in registration_form.savecity.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-3">
                {{ privacy_field(registration_form.privacy_geo_city) }}
              </div>
            </div>
          </fieldset>
          {{ registration_form.lat }}
          {{ registration_form.lng }}
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <fieldset id="privacy-verify">
            {% if registration_form.optin.errors %}
              <div class="error">
                {{ _('This field is required.') }}
              </div>
            {% endif %}
            <label class="checkbox required">
              {{ registration_form.optin }}
            </label>
            <label id="{{ registration_form.optin.id_for_label }}" {% if registration_form.optin.errors %}class="error"{% endif %}>
              {% trans privacy_url='http://mozilla.org/privacy/websites/' %}
                I'm okay with you handling this info as you explain
                in <a href="{{ privacy_url }}">Mozilla's privacy
                policy</a>.
              {% endtrans %}
            </label>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" id="form-submit-top" type="submit" name="registration_section">{{ _('Create Profile') }}</button>
    </div>
  </div>
</form>
