<div id="youandmozilla-tab" class="hidden-xs hidden-sm settings-tab">
  <form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=youandmozilla">
    {{ csrf() }}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Your Mozilla Contributions') }}</div>
      <div class="panel-body">
        <fieldset>
          <div class="row">
            <div class="col-sm-8">
              {{ mozillians_field(contribution_form.title) }}
            </div>
            <div class="col-sm-4">
              {{ privacy_field(contribution_form.privacy_title) }}
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="row">
            <div class="col-sm-8">
              {{ mozillians_field(contribution_form.date_mozillian) }}
            </div>
            <div class="col-sm-4">
              {{ privacy_field(contribution_form.privacy_date_mozillian) }}
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="row">
            <div class="col-sm-8">
              {{ mozillians_field(contribution_form.story_link) }}
            </div>
            <div class="col-sm-4">
              {{ privacy_field(contribution_form.privacy_story_link) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-top" type="submit" name="contribution_section">{{ _('Update Contributions') }}</button>
      </div>
    </div>
  </form>
  <form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=youandmozilla">
    {{ csrf() }}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('T-Shirt Size') }}</div>
      <div class="panel-body">
        <fieldset id="shirts">
          <div class="row">
            <div class="col-md-9">
          <p class="field_description">
            {% trans %}
              Like t-shirts? Add your size so we can give you a shirt at events or for other special occasions.
            {% endtrans %}
          </p>
        </div>
        <div class="col-md-3 text-right">
          {{ privacy_field(tshirt_form.privacy_tshirt) }}
        </div>
      </div>
          {% with t_choices = tshirt_form.tshirt.field.choices %}
            <div class="sizing">
              <div class="fitted">
                <h4>
                  {{ _('Fitted') }}
                  <span title="{{ _('A fitted-cut tshirt has a curved side hem which comes in at the waist and goes out at the upper and lower ends. Also known as women\'s.') }}" class="glyphicon glyphicon-info-sign info" aria-hidden="true"></span>
                </h4>
                {% for t_select in t_choices[1:7] %}
                  <div class="tshirt-option">
                    <input{% if profile.tshirt == t_select.0  %} checked{% endif %}
                    type="radio" name="tshirt" value="{{ t_select.0 }}">
                    <label>{{ t_select.1 }}</label>
                  </div>
                {% endfor %}
              </div>
              <div class="straightcut">
                <h4>
                  {{ _('Straight-cut') }}
                  <span title="{{ _('A straight-cut shirt has wide shoulders and a body which is almost square. Often known as men\'s or unisex.') }}" class="glyphicon glyphicon-info-sign info" aria-hidden="true"></span>
                </h4>
                {% for t_select in t_choices[7:14] %}
                  <div class="tshirt-option">
                    <label>
                      <input {% if profile.tshirt == t_select.0  %} checked {% endif %}
                        type="radio" name="tshirt" value="{{ t_select.0 }}">
                      {{ t_select.1 }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endwith %}
        </fieldset>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-top" type="submit" name="tshirt_section">{{ _('Update T-shirt size') }}</button>
      </div>
    </div>
  </form>
</div>
