<form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=extaccounts">
  {{ csrf() }}
  <div id="extaccounts-tab" class="hidden-xs hidden-sm settings-tab">
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('External Accounts') }}</div>
      <div class="panel-body">
        {% if accounts_formset.non_form_errors() %}
          <ul class="unstyled">
            {% for error in accounts_formset.non_form_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <fieldset>
          <div class="row">
            <div class="col-md-12" id="accounts">
              {{ accounts_formset.management_form }}
              {% for account_form in accounts_formset %}
                <div class="externalaccount-fieldrow
                            {% if account_form.errors %} error{% endif %}">
                  {{ account_form.non_field_errors() }}
                  {% for field in account_form %}
                    {{ field.errors }}
                  {% endfor %}
                  {% for field in account_form %}
                    {% if not field.name == 'privacy' %}
                      {{ field }}
                      {% if field.name == 'DELETE' %}
                        <span class="delete-row">{{ _('Delete') }}</span>
                      {% endif %}
                    {% else %}
                      {{ privacy_field(field) }}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
          <a href="#" id="accounts-addfield" class="addField"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ _('Add account') }}</a>
        </fieldset>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-top" type="submit" name="accounts_section">{{ _('Update External Accounts') }}</button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">{{ _('IRC') }}</div>
      <div class="panel-body">
        <fieldset>
          <div class="row">
            <div class="col-sm-8">
              {{ mozillians_field(irc_form.ircname) }}
            </div>
            <div class="col-sm-4">
              {{ privacy_field(irc_form.privacy_ircname) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-top" type="submit" name="irc_section">{{ _('Update IRC information') }}</button>
      </div>
    </div>
  </div>
</form>
