{% if vouch_form %}
  <div class="vouch-box">
    <div class="margins">
    {% if not profile.is_vouched %}
      <h4>Is {{ profile.full_name }} a Mozillian? Let us know how he/she contributed.</h4>
    {% else %}
      <h4>Do you know this Mozillian? Let us know how he/she contributed</h4>
    {% endif %}
    <form action="{{ url('phonebook:vouch') }}" method="POST"
          id="vouch-form">
      {{ csrf() }}
      {{ vouch_form }}
      {% trans name=profile.display_name %}
          <button class="button" type="submit"><i class="icon-key"></i>
            Vouch for {{ name }}
          </button>
      {% endtrans %}
    </form>
    <a href="#" class="left">Markdown Syntax</a>
    <div class="character-countdown">500</div>
      <div class="clear"></div>
      <p>Only vouch for users who have made significant contributions and are at least 13 years old.</p>
      {% if not profile.is_vouched %}
        <p>Once vouched, they will be able to:</p>
        <ul>
          <li>View all profiles and join groups</li>
          <li>Access special video content on Air Mozilla</li>
          <li>Join the Mozilla Exchange Yammer network</li>
          <li>Use other Mozilla apps as a vouched user</li>
        </ul>
      {% endif %}
      <p>Vouchers cannot be edited or retracted.
      <br><br><a href="#">Read more about vouching</a></p>
    </div>
  </div>
{% endif %}

