# See base_env_vars for details about these settings
PROD_DETAILS_DIR = 'lib/product_details_json'
DOMAIN = 'localhost'
PROTOCOL = 'http://'
COMPRESS_ENABLED = False
COMPRESS_OFFLINE = False
SESSION_COOKIE_SECURE = False
SITE_URL = http://127.0.0.1:8000
ALLOWED_HOSTS = 127.0.0.1
PORT = 8000
USE_TZ = True
ITEMS_PER_PAGE = 24
SECRET_KEY = 'correcthorsebatterystaple'
# Debug flags
DEBUG = True
DEV = True
# ElasticSearch
ES_DISABLED = True
ES_URLS = 'http://127.0.0.1:9200'
ES_INDEXING_TIMEOUT = 10
# Auth0 confiuguration
OIDC_STORE_ACCESS_TOKEN = True
OIDC_OP_DOMAIN = 'auth.mozilla.auth0.com'
OIDC_OP_TOKEN_ENDPOINT = ''
OIDC_OP_USER_ENDPOINT = ''
OIDC_RP_CLIENT_ID = ''
OIDC_RP_CLIENT_SECRET = ''
OIDC_RP_CLIENT_SECRET_ENCODED = True
BASKET_API_KEY = ''
# Cache
CACHE_URL = 'memcached:11211'
# Celery
CELERY_TASK_ALWAYS_EAGER = True
# Assuming user root with password root and db name mozillians
DATABASE_URL = 'mysql://root:root@db:3306/mozillians'
# Basket
BASKET_URL = 'http://127.0.0.1'
BASKET_API_KEY = 'basket_api_key'
# None or list of email addresses.
BASKET_MANAGERS = None
AXES_BEHIND_REVERSE_PROXY = False
ES_HOST=es
ES_CONNECTION=local

# Captcha
NORECAPTCHA_SITE_KEY = "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
NORECAPTCHA_SECRET_KEY = "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"