{% extends "base.html" %}

{% block page_title %}{{ _('Reset Your Password') }}{% endblock %}
{% block body_id %}login{% endblock %}
{% block body_classes %}box-content{% endblock %}

{% block main_content %}
  <h1>{{ _('Reset Your Password') }}</h1>
  <form method="post" action="{{ url('password_reset') }}">
    {{ csrf() }}
    <div class="blue-pastels tiny">
      <div id="email-container"
        class="field {{ 'error' if form.errors['email'] }}">
        {{ form['email'].label_tag() }}
        {{ form.errors['email'] }}
        {{ form['email'] }}       
      </div>
      <button type="submit" class="button orange" id="submit">
        {{ _('Reset Password') }}
      </button>
    </div>
  </form>
  
{% endblock %}
