{% extends "base.html" %}

{% block page_title %}{{ _('Change Your Password') }}{% endblock %}
{% block body_id %}login{% endblock %}
{% block body_classes %}box-content{% endblock %}

{% block main_content %}
  <h1>{{ _('Change Your Password') }}</h1>
  <form method="post" action="{{ url('password_change') }}">
    {{ csrf() }}

    <div class="blue-pastels tiny">
      <div id="old_password-container"
        class="field {{ 'error' if form.errors['old_password'] }}">
        {{ form['old_password'].label_tag() }}
        {{ form.errors['old_password'] }}
        {{ form['old_password'] }}       
      </div>
      <div id="new_password1-container"
        class="field {{ 'error' if form.errors['new_password1'] }}">
        {{ form['new_password1'].label_tag() }}
        {{ form.errors['new_password1'] }}
        {{ form['new_password1'] }}
      </div>
      <div id="new_password2-container"
        class="field {{ 'error' if form.errors['new_password2'] }}">
        {{ form['new_password2'].label_tag() }}
        {{ form.errors['new_password2'] }}
        {{ form['new_password2'] }}
      </div>
      <button type="submit" class="button orange" id="submit">
        {{ _('Change Password') }}
      </button>
      <div id="fyp-container">
        <a href="{{ url('password_reset') }}">{{ _('I forgot my password') }}</a>
      </div>
      <div class="clear"></div>
    </div>
  </form>
  
{% endblock %}
