{% extends "base.html" %}

{% block page_title %}{{ _('Reset Your Password') }}{% endblock %}
{% block main_content %}
  {% if validlink %}

    <h1>{{ _('Enter new password') }}</h1>

    <p>{% trans %}Please enter your new password twice so we can 
       verify you typed it in correctly.{% endtrans %}
    </p>

    <form action="" method="post">
      {{ csrf() }}

      <div class="blue-pastels tiny">
        <div id="new_password1-container"
             class="field {{ 'error' if form.errors['new_password1'] }}">
          {{ form['new_password1'].label_tag() }}
          {{ form.errors['new_password1'] }}
          {{ form['new_password1'] }}
        </div>
        <div id="new_password2-container"
             class="field {{ 'error' if form.errors['new_password2'] }}">
          {{ form['new_password2'].label_tag() }}
          {{ form.errors['new_password2'] }}
          {{ form['new_password2'] }}
        </div>
        <button type="submit" class="button orange" id="submit">
          {{ _('Change Password') }}
        </button>
      </div>
    </form>
  {% else %}
    <h1>{{ _('Password reset unsuccessful') }}</h1>
    <p>
      {% trans %}The password reset link was invalid, possibly because it has 
      already been used.  Please request a new password reset.{% endtrans %}
    </p>
  {% endif %}
{% endblock %}
