{% extends "base.html" %}

{% block page_title %}{{ _('Create Your Profile') }}{% endblock %}
{% block body_id %}register{% endblock %}
{% block body_classes %}box-content{% endblock %}
{% block register_button %}{% endblock %}

{# TODO move registration flow all into the phonebook app.
   Currently spread across all three apps :( #}
{% block main_content %}
  <form method="post" action="{{ url('register') }}">
    {{ csrf() }}

    {#
    TODO: Get these steps to reflect the mockups.
    Step 1 of 3 [ <strong>register</strong> | profile | get vouched ]
    #}
    <h1>{{ _('Create Your Profile') }}</h1>

    <div class="blue-pastels">
      {{ form.management_form }}

      {% if form.errors %}
        <p class="errorlist">
          {{ _("Sorry, but we couldn't create your account.
                Please review the form, correct any errors, and try again.") }}
        </p>
      {% endif %}

      <p id="privacy-info">
        {% trans %}
          At this time, profiles are only viewable by other Mozillians.
          Community members may use them to identify and contact you about
          events, projects and other Mozilla-related activities.
        {% endtrans %}
      </p>

      {% for f in form.visible_fields() %}
        {% if f.name != 'optin' %}
          <div id="{{ f.name }}-container"
               class="field {{ 'error' if form.errors[f.name] }}
                            {{ f.field.widget.attrs['class'] }}">
            {{ f.label_tag() }}

            {% if f.field.required %}
              <span class="required" title="{{ _('This field is required.') }}">
                *
              </span>
            {% endif %}

            {{ form.errors[f.name] }}
            {{ f }}
          </div>
        {% else %}
          <div id="{{ f.name }}-container"
               class="field {{ 'error' if form.errors[f.name] }}
                             {{ f.field.widget.attrs['class'] }}">
              {% trans name=f.name,
                       url='http://www.mozilla.org/%s/privacy-policy.html' %
                            LANG %}
                <label for="id_{{ name }}">
                  I'm okay with you handling this info as you explain in your
                  <a href="{{ url }}">privacy policy</a>.
                </label>
              {% endtrans %}

            {% if f.field.required %}
              <span class="required" title="{{ _('This field is required.') }}">
                *
              </span>
            {% endif %}

            {{ form.errors[f.name] }}
            {{ f }}
          </div>
        {% endif %}
      {% endfor %}

      {{ form.code }}

      <div class="clear"></div>
    </div>

    <button id="submit" class="button orange">
      {{ _('Create Account') }}
    </button>

    <div class="clear"></div>
  </form>
{% endblock %}
