{% extends "base.html" %}

{% block page_title %}{{ _('Create Your Profile') }}{% endblock %}
{% block body_id %}register{% endblock %}
{% block body_classes %}box-content{% endblock %}

{% block main_content %}
  <form action="{{ url('register') }}"
        method="POST" enctype="multipart/form-data"
        class="well form-horizontal">
    {{ csrf() }}
    <h1>{{ _('Create Your Profile') }}</h1>
    {{ bootstrap(form) }}
    <div id="edit_controls">
      <button type="submit" class="span2 btn btn-primary">{{ _('Create Profile') }}</button>
      <a href="{{ url('profile', user.username) }}" class="span2 btn">
        {{ _('Cancel') }}{# L10n: Cancel editing #}
      </a>
    </div>
  </form>
{% endblock %}
