{% extends "base.html" %}

{% block site_js %}
  {{ super() }}
  {{ js('register') }}
{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('register') }}
{% endblock %}

{% block page_title %}{{ _('Create Your Profile') }}{% endblock %}
{% block body_id %}register{% endblock %}
{% block body_classes %}box-content{% endblock %}

{% block content %}

  {% if (user_form.errors or profile_form.errors) %}
    <div class="alert alert-error">
      The following fields are required (optin is the checkbox in the last panel):
      <ol>
      {% for error in user_form.errors %}
        <li>{{ error|escape }}</li>
      {% endfor %}
      {% for error in profile_form.errors %}
        <li>{{ error|escape }}</li>
      {% endfor %}
      </ol>
    </div>
  {% endif %}
  <form action="{{ url('register') }}"
        method="POST" enctype="multipart/form-data"
        class="form-horizontal well">
    {{ csrf() }}
    <h1>{{ _('Create Your Profile') }}</h1>
    <div class="alert alert-info">
      Our community directory is for Mozillians who are 13 and
      older. We take safety issues very seriously, especially with
      minors. If you are under 13, please don't create an account.
    </div>
    <div class="tabbable">
      <ul class="nav nav-pills">
        <li class="active"><a href="#start" id="1" data-toggle="tab">{{ _('Profile') }}</a></li>
        <li><a href="#skills" id="2" data-toggle="tab">{{ _('Skills & Groups') }}</a></li>
        <li><a href="#location" id="3" data-toggle="tab">{{ _('Location') }}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="start">
          <h2>{{ _('Profile') }}</h2>
          {{ bootstrap(user_form.username) }}
          {{ bootstrap(profile_form.full_name) }}
          {{ bootstrap(profile_form.ircname) }}
          {{ bootstrap(profile_form.website) }}
          {{ bootstrap(profile_form.bio) }}
          <button type="button" id="page2button" class="span2 btn btn-primary">{{ _('Next') }}</button>
        </div>
        <div class="tab-pane" id="skills">
          <h2>{{ _('Skills & Groups') }}</h2>
          <div class="register-groups">
            {{ profile_form.groups.label_tag() }}
            {{ profile_form.groups }}
          </div>
          <div class="register-skills">
            {{ profile_form.skills.label_tag() }}
            {{ profile_form.skills }}
            {{ profile_form.languages.label_tag() }}
            {{ profile_form.languages }}
          </div>
          <button type="button" id="page3button" class="span2 btn btn-primary">{{ _('Next') }}</button>
          <button type="button" id="page1button" class="span2 btn">{{ _('Previous') }}</button>
        </div>
        <div class="tab-pane" id="location">
          <h2>{{ _('Location') }}</h2>
          <p>
            {% trans %}
              Let us know where in the world you are. Other vouched Mozillians will
              be able to contact you and vice-versa. We may also send you emails
              about important Mozilla news relevant to your location.
            {% endtrans %}
          </p>
          {{ bootstrap(profile_form.country) }}
          {{ bootstrap(profile_form.region) }}
          {{ bootstrap(profile_form.city) }}
          {{ bootstrap(profile_form.optin) }}
          <p>
            {% trans %}
              You will begin to receive email communications from Mozilla once you
              are a vouched Mozillian. You may unsubscribe at anytime by clicking
              the link at the bottom of these emails.
            {% endtrans %}
          </p>
          <div id="edit_controls">
            <button type="submit" class="span2 btn-large btn-primary">{{ _('Create Profile') }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
