<div id="profile-tab" class="settings-tab">
  <form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=profile" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Basic Information') }}</div>
      <div class="panel-body">

        {% if (basic_information_form.non_field_errors()
               or user_form.non_field_errors()
               or language_formset.non_form_errors()
               or email_privacy_form.non_field_errors()
               or alternate_email_formset.non_form_errors()
               or skills_form.non_field_errors()) %}
          <ul class="unstyled">
            {% for error in basic_information_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
            {% for error in user_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
            {% for error in language_formset.non_form_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
            {% for error in email_privacy_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
            {% for error in alternate_email_formset.non_form_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
            {% for error in skills_form.non_field_errors() %}
              <li class="alert alert-error">{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% include 'phonebook/includes/photo_form.html' %}

        <fieldset>
          <div class="row">
            <div class="col-md-8 col-sm-6">
              {{ mozillians_field(user_form.username) }}
            </div>
            <div id="username-privacy" class="col-md-4 col-sm-6 text-right">
              <div class="privacy-controls">
                <span class="info glyphicon glyphicon-eye-open" aria-hidden="true" title="{{ _('Choose visibility group for this field') }}"></span>
                <div class="btn-group btn-group-xs" role="group">
                  <button type="button" class="btn btn-default active">{{ _('Public') }}</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="row">
            <div class="col-md-8 col-sm-6">
              {{ mozillians_field(basic_information_form.full_name) }}
            </div>
            <div class="col-md-4 col-sm-6 text-right">
              {{ privacy_field(basic_information_form.privacy_full_name) }}
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="row">
            <div class="col-md-8 col-sm-6">
              {{ mozillians_field(basic_information_form.full_name_local) }}
            </div>
            <div class="col-md-4 col-sm-6 text-right">
              {{ privacy_field(basic_information_form.privacy_full_name_local) }}
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="row">
            <div class="col-md-8 col-sm-6">
              {{ mozillians_field(basic_information_form.bio) }}
              <span class="under-input-field">
                {% trans url='http://daringfireball.net/projects/markdown/syntax' %}
                  Use <a href="{{ url }}">Markdown</a> for bold, italic, lists and links.
                {% endtrans %}
              </span>
            </div>
            <div class="col-md-4 col-sm-6 text-right">
              {{ privacy_field(basic_information_form.privacy_bio) }}
            </div>
          </div>
        </fieldset>
      </div>

      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-basic" type="submit" name="basic_section">{{ _('Update Information') }}</button>
      </div>
    </div>
  </form>

  <form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=profile">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Emails') }}</div>
      <div class="panel-body">
        <fieldset>
          <label class="email-label">{{ _('Primary e-mail address') }}</label>
          <div class="row">
            <div class="col-md-8 col-sm-6">
              <span class="email">{{ email_privacy_form.instance.email }}</span>
            </div>
            <div class="col-md-4 col-sm-6 text-right">
              {{ privacy_field(email_privacy_form.privacy_email) }}
            </div>
          </div>
        </fieldset>

        {% if alternate_email_formset.get_queryset() %}
          <fieldset id="alternate-email">
            <label class="email-label">{{ _('Secondary e-mail addresses') }}</label>
            {{ alternate_email_formset.management_form }}

            {% for form in alternate_email_formset %}
              <div class="row alternate-email-fieldrow">
                <div class="col-sm-8">
                  <span class="email">{{ form.instance.identifier }}</span>
                  {{ form.id }}
                  <div class="email-controls">
                    <a class="delete" href="{{ url('phonebook:delete_email', form.instance.pk) }}">
                      Delete
                    </a>
                    <a class="button" href="{{ url('phonebook:change_primary_email', form.instance.pk) }}">
                      Make Primary
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  {{ privacy_field(form.privacy) }}
                </div>

              </div>
            {% endfor %}
          </fieldset>
        {% endif %}
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-email" type="submit" name="email_section">{{ _('Update Emails') }}</button>
      </div>
    </div>
  </form>

  <form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=profile">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ _('Skills') }}
      </div>
      <div class="panel-body">
        <fieldset>
          <div class="row">
            <div class="col-sm-8">
              <p class="field_description">
                {% trans %}
                  A skill is the learned capacity to carry out pre-determined
                  results often with the minimum outlay of time, energy, or
                  both.
                {% endtrans %}
              </p>
            </div>
            <div class="col-sm-4 text-right">
              {{ privacy_field(skills_form.privacy_skills) }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <fieldset id="skills">
                {{ mozillians_field(skills_form.skills) }}
              </fieldset>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-skills" type="submit" name="skills_section">{{ _('Update Skills') }}</button>
      </div>
    </div>
  </form>

  <form class="edit-profile" method="POST" action="{{ url('phonebook:profile_edit') }}?next=profile">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ _('Languages') }}</div>
      <div class="panel-body">
        <fieldset>
          <div class="row">
            <div class="col-sm-8" id="languages">
              <p class="field_description">
                {% trans %}
                  The Mozilla Project spans over many countries and
                  languages. Share the languages you speak to be found
                  easily by other Mozillians.
                {% endtrans %}
              </p>
              {{ language_formset.management_form }}
              {% for language_form in language_formset %}
                <div class="language-fieldrow
                            {% if language_form.errors %} error{% endif %}">
                  {{ language_form.non_field_errors() }}
                  {% for field in language_form %}
                    {{ field }}
                    {% if field.name == 'DELETE' %}
                      <i class="icon-minus-circle"></i> {{ _('Delete') }}
                    {% endif %}
                  {% endfor %}
                  <div class="error">
                    {% for field in language_form %}
                      {{ field.errors }}
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
              <a href="#" id="languages-addfield" class="addField"><i class="icon-plus-circle"></i> {{ _('Add language') }}</a>
            </div>
            <div class="col-sm-4">
              {{ privacy_field(language_privacy_form.privacy_languages) }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" id="form-submit-langauge" type="submit" name="languages_section">{{ _('Update Languages') }}</button>
      </div>
    </div>
  </form>

  <div class="panel panel-danger hidden-sm hidden-xs">
    <div class="panel-heading">
      {{ _('Delete account') }}
    </div>
    <div class="panel-body">
      <fieldset id="delete">
        <label for="delete-checkbox">
          <input id="delete-checkbox" type="checkbox" class="acknowledge">
          {% trans %}
            I acknowledge that deleting my account will make it tougher
            for me to show off my contributions and easily be found by
            other members of the Mozilla community.
          {% endtrans %}
        </label>
      </fieldset>
    </div>
    <div class="panel-footer">
      <a href="{{ url('phonebook:profile_confirm_delete') }}" id="delete-profile"
         class="btn btn-danger delete disabled">
        {{ _('Delete Profile') }}
      </a>
    </div>
  </div>
</div>
