{% extends 'base.html' %}
{% block page_title %}
  {% if creating %}
    {{ _('Add a curated group') }}
  {% elif group.functional_area %}
    {{ _('Edit functional area') }}
  {% elif group.curator %}
    {{ _('Edit curated group') }}
  {% else %}
    {{ _('Edit group') }}
  {% endif %}
{% endblock %}
{% block body_id %}{% if creating %}group-add{% else %}group-edit{% endif %}{% endblock %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-error">
      {{ _('Please correct the errors below.') }}
    </div>
  {% endif %}

  <header>
    {% if creating %}
      <h1>{{ _('Add a curated group') }}</h1>
    {% elif group.functional_area %}
      <h1>{{ _('Edit functional area') }}</h1>
    {% elif group.curator %}
      <h1>{{ _('Edit curated group') }}</h1>
    {% else %}
      <h1>{{ _('Edit group') }}</h1>
    {% endif %}
    <p>
      {% trans %}
      some text about groups
      {% endtrans %}
    </p>
  </header>

  <form action="" method="POST" enctype="multipart/form-data"
        id="group-add-form" class="group-add">
    {{ csrf() }}

    <fieldset>
      {{ mozillians_field(form.name) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.description) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.irc_channel) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.website) }}
    </fieldset>

    <fieldset>
      {{ mozillians_field(form.wiki) }}
    </fieldset>

    {% if request.user.is_superuser %}

      <fieldset>
        {{ mozillians_field(form.visible) }}
      </fieldset>

      <fieldset>
        {{ mozillians_field(form.functional_area) }}
      </fieldset>

      <fieldset>
        {{ mozillians_field(form.members_can_leave) }}
      </fieldset>

      <fieldset>
        {{ mozillians_field(form.accepting_new_members) }}
      </fieldset>

    {% endif %}

    <fieldset id="edit_controls">
      {% if creating %}
        <button type="submit">{{ _('Create Group') }}</button>
      {% else %}
        <button type="submit">{{ _('Submit changes') }}</button>
      {% endif %}
    </fieldset>

  </form>

{% endblock %}
