{% extends "base.html" %}

{% block page_title %}{{ _('Confirm removing member') }}{% endblock %}

{% block body_id %}group-confirm-remove-member{% endblock %}

{% block body_class %}
  {{ super() }}
  search-page
{% endblock %}

{% block content %}

  <h1>{{ _('Confirm removing member') }}</h1>

  <p>
    {% if user.userprofile == profile %}
      {% trans %} Really leave group {{ group }}? {% endtrans %}
    {% else %}
      {% trans %} Really remove user {{profile}} from group {{ group }}? {% endtrans %}
    {% endif %}
  </p>

   <form action="{{ url('groups:remove_member', url=group.url, user_pk=profile.pk) }}" method="POST">
     {{ csrf() }}
     <input type="hidden" name="next_url" value="{{ next_url }}" />
     <button class="button remove" type="submit">{{ _('Remove') }}</button>
  </form>

  <a href="{{ next_url }}">{{ _('Return to group') }}</a>

{% endblock content %}
