{% extends "base.html" %}

{% block page_title %}{{ _('Group: {name}')|f(name=group.name) }}{% endblock %}

{% block body_id %}group-show{% endblock %}

{% block body_class %}
  {{ super() }}
  search-page
{% endblock %}

{% block content %}

    <h1>
    {% if group.functional_area %}
        {{ _('Functional Area') }}:
    {% elif group.curator %}
        {{ _('Curated Group') }}:
    {% else %}
        {{ _('Group') }}:
    {% endif %}
     {{ group.name }}
    </h1>

    <article class="group-meta">

        {% if is_curator or request.user.is_superuser %}
          <a class="button right" href="{{ url('groups:group_edit', group.url) }}">{{ _('Edit Group') }}</a>
        {% endif %}

        {% if group.description %}
          <p>{{ group.description }}</p>
        {% endif %}


        <div class="row">

            <ul class="curated-group-details">
                {% if group.irc_channel %}
                <li>
                    <span>
                    {% if irc_channels|length > 1 %}
                      {{ _('IRC Channels') }}:
                    {% else %}
                      {{ _('IRC Channel') }}:
                    {% endif %}
                    </span>
                    {% for irc in irc_channels %}
                      {{ irc }}
                    {% endfor %}
                  </li>
                {% endif %}

                {% if group.website %}
                  <li><span>{{ _('Website') }}:</span> {{ group.website|urlize }}</li>
                {% endif %}

                {% if group.wiki %}
                  <li><span>{{ _('Wiki') }}:</span> {{ group.wiki|urlize }} </li>
                {% endif %}

                <li><span>{{ _('Members') }}:</span> {{ members }}</li>

                {% if skills %}
                  <li>
                      <span>{{ _('Skills members have in common') }}:</span>
                      {% for skill in skills[:15] %}
                        {{ skill.name }}{% if not loop.last %},{% endif %}
                      {% else %}
                          None
                      {% endfor %}
                  </li>
                {% endif %}
            </ul><!-- .curated-group-details -->

            {% if group.curator %}  {# curated group #}
              <div class="curator">
                <h3>{% if group.functional_area %}{{ _('Community Steward') }}{% else %}{{ _('Curator') }}{% endif %}</h3>
                <div class="avatar">
                  <a href="{{ url('phonebook:profile_view', group.curator.user.username) }}">
                    <img class="profile-photo"
                         src="{{ group.curator.get_photo_url('70x70') }}"
                         alt="{{ _('Profile Photo') }}">
                  </a>
                </div>
                <div class="details">
                    <ul>
                      <li>
                        <span>
                          <a href="{{ url('phonebook:profile_view', group.curator.user.username) }}">
                            {{ group.curator.display_name }}
                          </a>
                        </span>
                      </li>
                      <li>
                        <a href="mailto:{{ group.curator.user.email }}">
                           <i class="icon-envelope"></i>
                          {{ group.curator.user.email }}
                        </a>
                      </li>
                    </ul>
                  </div><!-- details -->
              </div><!-- .curator -->
            {% endif %}

        </div><!-- .row -->

    </article><!-- .group-meta -->

    {% if show_join_button %}
        <form action="{{ url('groups:join_group', group.pk) }}"
              id="join-group" method="post">
          {{ csrf() }}
        <button class="button button{{ ('-negative' if in_group) }}">
          {{ _('Join Group') }}
        </button>
      </form>
    {% endif %}

    {% if show_leave_button %}
        <form action="{{ url('groups:remove_member', group.pk, user.userprofile.pk) }}"
              id="leave-group" method="post">
          {{ csrf() }}
          <button class="button button{{ ('-negative' if in_group) }}">
          {{ _('Leave Group') }}
        </button>
      </form>
    {% endif %}

    {% if not people.paginator.count %}
      <div class="well">
        <p id="not-found">
          {% trans group_name=group.name %}
            Sorry, we cannot find any mozillians in {{ group_name }}
          {% endtrans %}
        </p>
      </div>
    {% else %}
      {% with items=people %}
        {% include 'includes/pagination.html' %}
      {% endwith %}
      <h3>
        {% if group.functional_area %}
          {{ _('Functional Area Members') }}
        {% else %}
          {{ _('Group Members') }}
        {% endif %}
      </h3>
      <div class="row">
        {% for people_slice in people|slice(3) -%}
            {% for person in people_slice %}
              {{ search_result(person) }}
            {% endfor %}
        {% endfor %}
      </div>
      {% with items=people %}
        {% include 'includes/pagination.html' %}
      {% endwith %}
    {% endif %}

{% endblock content %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/pagination.js') }}"></script>
  {% endcompress %}
{% endblock %}
