{% extends "base.html" %}

{% block page_title %}{{ _('Group: {name}')|f(name=group.name) }}{% endblock %}

{% block body_id %}group-show{% endblock %}

{% block body_class %}
  {{ super() }}
  search-page
{% endblock %}

{% block content %}

    <h1>
    {% if group.functional_area %}
        {{ _('Functional Area') }}:
    {% else %}
        {{ _('Group') }}:
    {% endif %}
        {{ group.name }}
    </h1>

    <article class="group-meta">

      {% if show_delete_group_button %}
        <form action="{{ url('groups:group_delete', group.url) }}"
              id="delete-group" method="post">
          {{ csrf() }}
          <button class="button button-negative delete right">
            {{ _('Delete Group') }}
          </button>
        </form>
      {% endif %}

      {% if is_curator %}
        <a class="button right" href="{{ url('groups:group_edit', group.url) }}">
          {{ _('Edit Group') }}
        </a>
      {% endif %}

      {% if group.description %}
        <p>{{ group.description }}</p>
      {% endif %}

      {% if group.new_member_criteria %}
        <p><span>{{ _('New Member Criteria') }}:</span><br />{{ group.new_member_criteria }}</p>
      {% endif %}

      <ul class="curated-group-details">
          {% if group.irc_channel %}
          <li>
            <span>
              {{ _('IRC Channel') }}:
            </span>
            {{ group.irc_channel }}
          </li>
          {% endif %}

          {% if group.website %}
            <li><span>{{ _('Website') }}:</span> {{ group.website|urlize }}</li>
          {% endif %}

          {% if group.wiki %}
            <li><span>{{ _('Wiki') }}:</span> {{ group.wiki|urlize }} </li>
          {% endif %}

          <li><span>{{ _('Members') }}:</span> {{ members }}</li>

          {% if skills %}
            <li>
                <span>{{ _('Skills members have in common') }}:</span>
                {% for skill in skills[:15] %}
                  {{ skill.name }}{% if not loop.last %},{% endif %}
                {% else %}
                    None
                {% endfor %}
            </li>
          {% endif %}
      </ul><!-- .curated-group-details -->

      {% if group.curator %}  {# curated group #}
        <div class="curator">
          <h3>
            {% if group.functional_area %}
              {{ _('Community Steward') }}
            {% else %}
              {{ _('Curator') }}
            {% endif %}
          </h3>
          <div class="avatar">
            <a href="{{ url('phonebook:profile_view', group.curator.user.username) }}">
              <img class="profile-photo"
                   src="{{ group.curator.get_photo_url('70x70') }}"
                   alt="{{ _('Profile Photo') }}">
            </a>
          </div>
          <div class="details">
              <ul>
                <li>
                  <span>
                    <a href="{{ url('phonebook:profile_view', group.curator.user.username) }}">
                      {{ group.curator.display_name }}
                    </a>
                  </span>
                </li>
                <li>
                  <a href="mailto:{{ group.curator.user.email }}">
                     <i class="icon-envelope-o"></i>
                    {{ group.curator.user.email }}
                  </a>
                </li>
              </ul>
            </div><!-- details -->
        </div><!-- .curator -->
      {% endif %}

    </article><!-- .group-meta -->

    {% if show_join_button %}
        <form action="{{ url('groups:join_group', group.url) }}"
              id="join-group" method="post">
          {{ csrf() }}
          <button class="button">
            {% if group.accepting_new_members == 'by_request' %}
                {{ _('Request to Join Group') }}
            {% else %}
                {{ _('Join Group') }}
            {% endif %}
          </button>
      </form>
    {% endif %}

    {% if show_leave_button %}
        <form action="{{ url('groups:remove_member', group.url, user.userprofile.pk) }}"
              id="leave-group" method="post">
          {{ csrf() }}
          <button class="button button-negative">
            {{ _('Leave Group') }}
          </button>
      </form>
    {% endif %}

    {% if membership_filter_form %}
      <div class="filters right">
        <form method="get">
          {{ membership_filter_form }}
          <input class="button" type="submit" value="{{ _('Filter') }}">
        </form>
      </div>
    {% endif %}

    {% if not people.paginator.count %}
      <div class="clear">
        {% if membership_filter_form and membership_filter_form.filtr.value() == 'pending_members' %}
          {% trans group_name=group.name %}
            There are no open membership requests for {{ group_name }}.
          {% endtrans %}
        {% else %}
          {% trans group_name=group.name %}
            Sorry, we can not find any mozillians in {{ group_name }}.
          {% endtrans %}
        {% endif %}
      </div>
    {% else %}
      {% with items=people %}
        {% include 'includes/pagination.html' %}
      {% endwith %}

      <h3 class="members-list-header">
        {% if group.functional_area %}
          {{ _('Functional Area Members') }}
        {% else %}
          {{ _('Group Members') }}
        {% endif %}
      </h3>

      {% if is_pending %}
        <div class="alert alert-warning" id="group-pending-membership">
          {{ _('Your membership request is pending approval by the group curator.') }}
        </div>
      {% endif %}


      <br class="clear">

      <div class="row">
        {% for membership in people %}
          {{ search_result(membership.userprofile) }}
        {% endfor %}
      </div>
      {% with items=people %}
        {% include 'includes/pagination.html' %}
      {% endwith %}
    {% endif %}

{% endblock content %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/pagination.js') }}"></script>
  {% endcompress %}
{% endblock %}
