{% extends "base.html" %}

{% block page_title %}{{ _('Group Listing') }}{% endblock %}
{% block body_id %}group-index{% endblock %}
{% block body_classes %}box-content{% endblock %}

{% block content %}
  {% if groups %}
    <h1>{{ _('Group Listing') }}</h1>

    <p>
      {% trans %}
        Mozillians work on all sorts of different things! From Add-on
        developers to localizers, find Mozillians who work on similar things
        using user-created groups.
      {% endtrans %}
    </p>

    <ul id="groups" class="tagit ui-widget ui-widget-content ui-corner-all">
      {% for group in groups %}
        <li class="tagit-choice ui-widget-content ui-state-default
                   ui-corner-all">
          <a href="{{ url('group', group.url) }}">
            {{ group.name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="pagination">
      <span class="step-links">
        {% if groups.has_previous() %}
          <a href="?page={{ groups.previous_page_number() }}">
            {{ _('Back') }}
          </a>
        {% endif %}

        <span class="current">
          {{ groups.number }} / {{ groups.paginator.num_pages }}
        </span>

        {% if groups.has_next() %}
          <a href="?page={{ groups.next_page_number() }}">
            {{ _('Next') }}
          </a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock content %}
