{% extends "base.html" %}

{% block page_title %}
  {% trans name=group.name %}Users in Group "{{ name }}"{% endtrans %}
{% endblock %}
{% block body_id %}group-show{% endblock %}
{% block body_classes %}
  box-content search-page group-name-{{ group.name }}
{% endblock %}

{% block main_content %}
  {% trans name=group.name %}
    <h1>Users in Group "{{ name }}"</h1>
  {% endtrans %}

  {% if not group.system %}
    <form action="{{ url('group_toggle', group.id, group.url) }}"
          id="toggle-group" method="post">
      {{ csrf() }}

      <button class="button {{ ('destructive' if in_group else 'primary') }}">
        {% if not in_group %}
          {{ _('Join Group') }}
        {% else %}
          {{ _('Leave Group') }}
        {% endif %}
      </button>
    </form>
  {% endif %}

  <div class="clear"></div>

  <div class="blue-pastels">
    {% for user in users %}
      {{ search_result(user) }}
    {% endfor %}
  </div>
{% endblock main_content %}
