{% extends "base.html" %}

{% block page_title %}
  {% trans name=group.name %}Users in Group "{{ name }}"{% endtrans %}
{% endblock %}
{% block body_id %}group-show{% endblock %}
{% block body_classes %}
  box-content search-page group-name-{{ group.name }}
{% endblock %}

{% block site_js %}
  <script src="{{ url('jsi18n') }}"></script>
  {{ js('common') }}
  {{ js('search') }}
  {% include "includes/webtrends_desktop.html" %}
{% endblock %}

{% block main_content %}
  {% trans name=group.name %}
    <h1>Users in Group "{{ name }}"</h1>
  {% endtrans %}

  {% if not group.system %}
    <form action="{{ url('group_toggle', group.id, group.url) }}"
          id="toggle-group" method="post">
      {{ csrf() }}

      <button class="button small {{ ('destructive' if in_group else 'primary') }}">
        {% if not in_group %}
          {{ _('Join Group') }}
        {% else %}
          {{ _('Leave Group') }}
        {% endif %}
      </button>
    </form>
  {% endif %}

  <div class="clear"></div>

  <div class="blue-pastels">
    <form method="GET" id="search-form" action="#">
      <input type="hidden" name="limit" id="limit" value="{{ limit }}">
    </form>
    {% for person in people %}
      {{ search_result(person) }}
    {% endfor %}
    {% if show_pagination %}
      <div data-pages={{ num_pages }} class="pagination">
        {% for page in people.paginator.page_range %}
          {% if page == people.number %}
            <span>{{ page }}</span>
          {% else %}
            <a href="#">{{ page }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div id="final-result">
        <span>Showing all {{ people.paginator.count }} results.</span>
      </div>
    {% endif %}
  </div>
{% endblock main_content %}
