{% extends "base.html" %}

{% block page_title %}
  {{ _('Group settings') }}
{% endblock %}
{% block body_id %}edit-group{% endblock %}

{% block content %}
  {% if not forms_valid %}
    <div class="alert alert-error">
      {{ _('Please correct the errors below.') }}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-3 hidden-xs" id="groups-nav">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ _('Group') }}
          <a href="{{ url('groups:show_group', group.url) }}">{{ group.name }}</a>
        </div>
        <ul class="nav nav-tabs settings-nav" role="tablist">
          <li role="presentation" class="active" id="description-tab"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{ _('Description') }}</a></li>
          <li role="presentation" id="access-tab"><a href="#access" aria-controls="access" role="tab" data-toggle="tab">{{ _('Access') }}</a></li>
          {% if user_is_curator or user_is_manager %}
            <li role="presentation" id="invitations-tab"><a href="#invitations" aria-controls="invitations" role="tab" data-toggle="tab">{{ _('Invitations') }}</a></li>
          {% endif %}
          {% if user.userprofile.is_manager %}
            <li role="presentation" id="admin-tab"><a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">{{ _('Administration') }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="col-sm-9">
      <div class="tab-content">
        <!-- Description Tab -->
        {% include 'groups/includes/group_edit_description.html' %}
        <!-- Access Tab -->
        {% include 'groups/includes/group_edit_access.html' %}
        <!-- Invitations Tab -->
        {% if user_is_curator or user_is_manager %}
          {% include 'groups/includes/group_edit_invitation.html' %}
        {% endif %}
        <!-- Admin Tab -->
        {% if user_is_manager %}
          {% include 'groups/includes/group_edit_admin.html' %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/libs/URI.js') }}"></script>
    <script src="{{ static('mozillians/js/group_edit.js') }}"></script>
  {% endcompress %}
  {{ curator_form.media }}
{% endblock %}
