{% extends "groups/index_common.html" %}

{% block page_title %}{{ _('Group Listing') }}{% endblock %}

{% block body_id %}functional-areas{% endblock %}

{% block page_header %}{{ _('Groups') }}{% endblock %}

{% block description %}
  {% trans %}
    Mozillians work on all sorts of different things! From Add-on
    developers to localizers, find Mozillians who work on similar things
    using user-created groups.
  {% endtrans %}
{% endblock %}

{% block content %}
  <a class="large button right" href="#" data-toggle="modal" data-target="#GroupModal">
    {{ _('Create Group') }} &nbsp; <i class="icon-group"></i> +
  </a>
  {{ super() }}

  <!-- Modal -->
  <div class="modal fade" id="GroupModal" tabindex="-1" role="dialog" aria-labelledby="GroupModalLabel">
    <form class="add-group" method="POST" action="{{ url('groups:group_add') }}">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="GroupModalLabel">{{ _('Create Group') }}</h4>
          </div>
          <div class="modal-body">
            <fieldset id="description">
              <div class="form-group">
                {{ mozillians_field(group_form.name) }}
              </div>
            </fieldset>
            <fieldset id="group_type">
              <div class="form-group">
                <div class="sizing">
                  {{ mozillians_field(group_form.accepting_new_members) }}
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
            <button type="button submit" class="btn btn-primary">{{ _('Save') }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/group_index.js') }}"></script>
  {% endcompress %}
{% endblock %}
