{% extends "base.html" %}

{% block page_title %}{{ _('Register, Step 3 &mdash; Get Vouched') }}{% endblock %}

{% block main_content %}
  <h2>{{ _('Step 3 of 3: Get Vouched') }}</h2>

  <div>
    <h1>
      {% trans %}
        Thanks<br>
        <small>for creating a profile.</small>
      {% endtrans %}
    </h1>

    <p>
      {% trans profile=url('profile',
        user.ldap_user.attrs.uniqueIdentifier[0]) %}
        To get full access to search for and invite other Mozillians you'll
        need to have
        <a href="{{ profile }}">your profile</a>
        vouched for by someone who already has an
        account.

        Please send
        <a href="{{ profile }}">your profile</a>
        to a Mozillian who is familiar with your contributions and ask them to
        vouch for you.
      {% endtrans %}
    </p>
  </div>
{% endblock %}
