/* Make django-selectable's fields look like tag-it's fields */
ul.selectable-deck {
  display: inline;

  li.selectable-deck-item {
    background: url("/static/mozillians/img/jquery-ui-blitzer/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50% #EEEEEE;
    border: 1px solid #D8DCDF;
    color: #004276;
    font-weight: bold;
    padding: 0.2em 0.2em 0.2em 0.5em;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin: 2px 5px 2px 0;
    display: block;
    float: left;

    a.selectable-deck-remove {
      cursor: pointer;
      line-height: 17px;
      margin-top: -8px;
      right: 0.1em;
      top: 50%;
      color: #004276;
      text-decoration: none;
      border: none;
    }

    .ui-button-text,
    .ui-icon {
      display: inline
    }
  }
}
