<div class="control-group photo {% if profile_form.photo.errors %}error{% endif %}">
  <label class="control-label" for="id_photo">{{ profile_form.photo.label }}</label>
  <div class="controls">
    <div class="thumbnail">
      <img id="profile-photo" src="{{ profile.photo_url() }}" alt="{{ _('Profile photo') }}">
    </div>
    <ul class="photo_controls">
      <li>
        <input class="input-file" id="id_photo" type="file" name="photo">
      </li>
      {% for error in profile_form.photo.errors %}
        <li>
          <span class="help-inline">{{ error }}</span>
        </li>
      {% endfor %}
      {% if profile.photo %}
        <li>
          <label class="checkbox" for="id_photo_delete">
            <input type="checkbox" name="photo-clear" id="id_photo_delete">
            {{ _('Remove Profile Photo') }}
          </label>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
