{% extends "base.html" %}

{% block main_content %}

  <form action="" method="POST" enctype="multipart/form-data">
    {{ csrf() }}
    {% if registration_flow %}
    Step 2 of 3 [ register | <strong>profile</strong> | get vouched ]
    {% endif %}

    <h1>{% if person.voucher_unique_id %}Mozillian{% else %}Pending{% endif %} Profile</h1>

    <img src="{{url('phonebook.profile_photo', person.unique_id) }}" width="300" />

    {{ form }}
    {% if registration_flow %}
      <button>{{ _('Next') }}</button>
    {% else %}
      <button>{{ _('Update') }}</button>
    {% endif %}
  </form>

  {% if person.full_name %}
    <div>
      <a href="{{url('profile', person.unique_id) }}">{{ person.full_name }}</a>
    </div>
  {% endif %}

  {% if person.voucher %}
    <div>
      <strong>Mozillian</strong> vouched by
      {{ person.voucher.full_name }}
    </div>
  {% else %}
    <div><strong>Pending...</strong><a href="#">Vouch for Me</a></div>
  {% endif %}

  {% if person.mail %}
    <div>
      <a href="mailto:{{ person.username }}">{{ person.username }}</a>
    </div>
  {% endif %}

  <hr />
  {% if user.username == person.username %}
    <a href="{{url('phonebook.edit_profile', person.unique_id)}}">Edit Profile</a>
    <form action="{{ url('phonebook.delete_profile') }}" method="POST">
      {{ csrf() }}
      {{ delete_form }}
      <button>{{ _('Delete Profile') }}</button>
    </form>
  {% endif %}

{% endblock %}
