{% extends "base.html" %}

{% block page_title %}{{ _('Mozilla Community Directory') }}{% endblock %}
{% block body_id %}home{% endblock %}
{% block body_classes %}box-content search-page{% endblock %}

{% set nav_home = 'active' %}
{% block nav %}
  {{ super() }}
{% endblock %}


{% block main_content %}
  {% if user.is_anonymous() or not user.get_profile().is_vouched %}
    <div class="welcome">
      <noscript>{{ _('This website requires JavaScript to be turned on.') }}</noscript>
      {% trans %}
        <h1>Welcome<br> <small>to the Mozilla community directory.</small></h1>
      {% endtrans %}

      <p>
        {% trans about=url('about') %}
          Here you'll find information on your fellow contributors,
          what they do and how to connect with them.
          <a href="{{ about }}">Learn more</a>
        {% endtrans %}
      </p>

      {% if not user.is_authenticated() %}
        <p>
          <a href="#" id="create_profile" class="persona-button browserid-login">
            <span>{{ _('Sign In with Persona') }}</span>
          </a>
          <br/>
          <a href="https://login.persona.org/about">
            {{ _('What is Persona? Why are we using it?') }}
          </a>
        </p>
      {% elif not user.get_profile().is_vouched %}
        <p>
          {% trans contribute_url='http://mozilla.org/contribute' %}
            You need to be vouched by a core or active contributor in
            the Mozilla community.  To do this, find ways
            to <a href="{{ contribute_url }}">get involved</a>.
          {% endtrans %}
        </p>
      {% endif %}
    </div>
  {% elif user.get_profile().is_vouched %}
    <h1>Welcome to Mozillians!</h1>
    {% if groups %}
      <h3>Stewards in your Functional Area</h3>
      <div class="row">
        {% for my_group in groups %}
          {{ search_result(my_group.steward) }}
        {% endfor %}
      </div>
    {% endif %}
    <div class="popular-groups">
      <h3>Browse Functional Areas</h3>
      <ul id="groups" class="tagit ui-widget ui-corner-all">
        {% for group in curated_groups %}
          <li class="tagit-choice ui-widget-content ui-state-default
                     ui-corner-all p-category category">
            <a href="{{ url('group', group.id, group.url) }}">
              {{ group.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="home-options">
      <ul class="well">
        <h3>Options</h3>
        <li>
          <a href="{{ url('invite') }}" class="btn">Invite a Mozillian</a>
          {{ _('Invite other contributors to create a profile') }}
        </li>
        <li>
          <a href="{{ url('profile.edit') }}" class="btn btn-primary">Edit your Profile</a>
          {{ _('Edit your profile, account settings or view developer info') }}
        </li>
        <li>
          <a href="{{ url('group_index') }}" class="btn btn-info">View Groups</a>
          {{ _('View all groups in the Phonebook') }}
        </li>
        <li>
          <a href="{{ url('about') }}" class="btn btn-info">Read the About Page</a>
          {{ _('Learn more about the Phonebook and why its built') }}
        </li>
      </ul>
    </div>
  {% endif %}
{% endblock main_content %}
