{% extends "base.html" %}

{% block page_title %}{{ _('Invite a Mozillian') }}{% endblock %}
{% block body_id %}invite{% endblock %}
{% block body_classes %}box-content{% endblock %}

{% block main_content %}
  <h1>{{ _('Invite a Mozillian') }}</h1>

  <p>
    {% trans %}
      If you'd like to invite a Mozillian to create a profile, please enter
      their email address here:
    {% endtrans %}
  </p>

  <form method="POST" action="{{ url('invite') }}">
    {{ csrf() }}
    {{ form.errors.recipient }}

    {{ bootstrap(form.recipient) }}

    {{ bootstrap(form.message) }}

    <button type="submit" class="btn bump-button">
      {{ _('Send invite') }}
    </button>

    <p>
      {% trans %}
        <strong>Note:</strong>
        Your name and email will be sent to whomever you invite.
      {% endtrans %}
    </p>
  </form>
{% endblock %}
