{% extends "base.html" %}

{% block search %}{% endblock %}

{% block page_title %}
  {% for name in [region_name, city_name] %}
    {% if name %}{{ name }}, {% endif %}
  {% endfor %}
  {{ country_name }}
{% endblock %}
{% block body_id %}search{% endblock %}
{% block body_classes %}box-content search-page{% endblock %}

{% block site_js %}
  <script src="{{ url('jsi18n') }}"></script>
  {{ js('common') }}
{% endblock %}

{% block content %}
  <h2>Mozillians in
    {% for name in [region_name, city_name] %}
      {% if name %}{{ name }}, {% endif %}
    {% endfor %}
    {{ country_name }}
  </h2>
      {% if people %}
        <div class="row">
          {% for person in people %}
            {{ search_result(person) }}
          {% endfor %}
        </div>
      {% else %}
        <div class="well">
            <p id="not-found">
              {{ _("Sorry we cannot find any mozillians in") }}
              {% for name in [region_name, city_name] %}
                {% if name %}{{ name }}, {% endif %}
              {% endfor %}
              {{ country_name }}
            </p>
        </div>
      {% endif %}
{% endblock %}
