{% extends "base.html" %}

{% block main_content %}

  {% if user.username == person.uid[0] %}
    <h1>My Profile</h1>
  {% else %}
    <h1>{% if person.mozilliansVouchedBy %}Mozillian{% else %}Pending{% endif %} Profile</h1>
  {% endif %}

  <hr />
  <img src="{{url('phonebook.profile_photo', person.uniqueIdentifier[0]) }}" />
  {% if person.displayName %}
    <div>
      <a href="{{url('phonebook.profile_uid', person.uniqueIdentifier[0]) }}">{{ person.displayName[0] }}</a>
    </div>
  {% endif %}

  {% if person.mozilliansVouchedBy %}
    <div>
      <strong>Mozillian</strong> vouched by
      {{ person.mozilliansVouchedBy[0] }}
    </div>
  {% else %}
    <div><strong>Pending...</strong><a href="#">Vouch for Me</a></div>
  {% endif %}
 
  {% if person.mail %}
    <div>
      {% for mail in person.mail %}
        <a href="mailto:{{ mail }}">{{ mail }}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% if person.telephoneNumber %}
    <div class='tel'>{{ person.telephoneNumber[0] }}</div>
  {% endif %}

  <hr />
  {% if user.username == person.uid[0] %}
    <a href="{{url('phonebook.edit_profile', person.uniqueIdentifier[0])}}">Edit Profile</a>
  {% endif %}

{% endblock %}
