{% extends "base.html" %}

{% block page_title %}{{ profile.display_name }}{% endblock %}
{% block body_id %}profile{% endblock %}
{% block body_classes %}
    box-content {% if not profile.is_vouched %}pending{% endif %}
{% endblock %}

{% block main_content %}
  <h1>
    {% if request.user.username == shown_user.username %}
      {{ _('Your Profile') }}
    {% elif profile.is_vouched %}
      {{ _('Mozillian Profile') }}
    {% else %}
      {{ _('Pending Profile') }}
    {% endif %}
  </h1>

  {% if not profile.is_vouched %}
    {% if request.user.username == shown_user.username %}
      <p id="pending-approval">
        {% trans profile_url=absolutify(url('profile', user.username)) %}
          Your profile is waiting for approval. Send this link to someone who
          is familiar with your contributions and ask them to vouch for you:
          <br>
          <em class="underline" title="Your profile URL">
            {{ profile_url }}
          </em>
        {% endtrans %}
      </p>
    {% else %}
      <div id="pending-approval">
        {% trans vouch='#' %}
          This profile is waiting for approval. If you can vouch for this
          person's contributions, please do so.
        {% endtrans %}

        {% if vouch_form %}
          <form action="{{ url('vouch') }}" method="POST"
            id="vouch-form">
            {{ csrf() }}

            {{ vouch_form }}

            {% trans name=profile.display_name %}
              <button type="submit" class="button primary small">
                Vouch for {{ name }}
              </button>
            {% endtrans %}
          </form>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  <div class="clear"></div>

  <div class="blue-pastels vcard h-card">
    {{ profile_photo(profile) }}

    {% if shown_user.username == request.user.username %}
      <a href="{{ url('profile.edit') }}"
         class="button primary small" id="edit-profile">
        {{ _('Edit My Profile') }}
      </a>
    {% endif %}

    <div id="profile-info">
      <h2 class="fn p-name">
        {{ profile.display_name }}
      </h2>

      <dl>
        {% if shown_user.email %}
          <dt>{{ _('Email') }}</dt>
          <dd><a class="email u-email" href="mailto:{{ shown_user.email }}">
            {{ shown_user.email }}
          </a></dd>
        {% endif %}

        {% if profile.ircname %}
          <dt>{{ _('IRC Nickname') }}</dt>
          <dd><a class="nickname p-nickname" href="irc://irc.mozilla.org/">
            {{ profile.ircname }}
          </a></dd>
        {% endif %}

        {% if profile.website %}
          <dt class="website">{{ _('Website') }}</dt>
          <dd class="website">
            <a class="url u-url" rel="me" href="{{ profile.website }}">
            {{ profile.website }}</a>
          </dd>
        {% endif %}

        {% if profile.location %}
          <dt>{{ _('Location') }}</dt>
          <dd>{{ profile.location }}</dd>
        {% endif %}

        {% if not profile.voucher and profile.is_vouched %}
          <dt>{{ _('Vouched by') }}</dt>
          <dd>{{ _('No longer active') }}</dd>
        {% elif profile.voucher %}
          <dt>{{ _('Vouched by') }}</dt>
          <dd>
            <a href="{{ url('profile', shown_user.username) }}"
               class="vouched">
              {{ profile.voucher.full_name }}
            </a>
          </dd>
        {% endif %}
      </dl>
    </div>

    <div class="clear"></div>

    {% if profile.bio %}
      <h3>{{ _('Bio:') }}{# L10n: Biography #}</h3>
      <div id="bio" class="note p-note">
        {{ profile.bio|paragraphize }}
      </div>
    {% endif %}

    {% if groups %}
      <h3>{{ _('Groups') }}</h3>

      <ul id="groups" class="tagit ui-widget ui-widget-content ui-corner-all">
        {% for group in groups %}
          <li class="tagit-choice ui-widget-content ui-state-default
                     ui-corner-all p-category category">
            {% if request.user.get_profile().is_vouched %}
              <a href="{{ url('group', group.id, group.url) }}">
                {{ group.name }}
              </a>
            {% else %}
              {{ group.name }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="clear"></div>
  </div>
{% endblock %}
