{% extends "base.html" %}

{#
  This removes the search box from the header, as we put it inside the
  body of the page instead.
#}
{% block search %}{% endblock %}

{% block page_title %}{{ _('Search Results') }}{% endblock %}
{% block body_id %}search{% endblock %}
{% block body_classes %}box-content search-page{% endblock %}

{% block site_js %}
  <script src="{{ url('jsi18n') }}"></script>
  {{ js('common') }}
  {{ js('search') }}
  {% include "includes/webtrends_desktop.html" %}
{% endblock %}

{% block main_content %}
  <h1>{{ _('Search') }}</h1>
    <form method="GET" id="search-form" action="{{ url('search') }}">
      <input type="text" name="q" id="q"
        placeholder="{{ _('Name, IRC Nick, or Email') }}" autofocus
        value="{% if form.cleaned_data %}{{ form.cleaned_data.q }}{% endif %}">
      <input type="hidden" name="limit" id="limit" value="{{ limit }}">
      <button type="submit" class="btn primary">
        <span class="icon-search"></span>
        {{ _('Search') }}
      </button>
      <button type="button" id="advanced" class="btn primary">
        <span class="icon-chevron-down"></span>
        {{ _('Advanced Options') }}
      </button>
      <div class="search-options">
        {% for f in ['nonvouched_only', 'picture_only'] %}
          <div id="{{ form[f].name }}-container"
               class="field {{ form[f].field.widget.attrs['class'] }}">
            {{ form[f] }}
            {{ form[f].label_tag() }}
          </div>
        {% endfor %}
      </div>
    </form>
    <div class="row">
      {% if not form.cleaned_data %}
        {% trans %}
          <h2>Search For a Mozillian</h2>

          <p>
            You can search for another Mozillian using their name, email, or
            nickname.
          </p>
        {% endtrans %}
      {% else %}
        {% for person in people %}
          {{ search_result(person) }}
        {% else %}
          <p id="not-found">
            {% trans invite=url('invite') %}
              The Mozillian you are looking for is not in the directory.
              Please check your spelling or
              <a href="{{ invite }}">invite this person</a> to create a profile.
            {% endtrans %}
          </p>
        {% endfor %}

        {% if show_pagination %}
          <div data-pages={{ num_pages }} class="pagination">
            {% for page in people.paginator.page_range %}
              {% if page == people.number %}
                <span>{{ page }}</span>
              {% else %}
                <a href="{{ url('search')|urlparams(q=form.cleaned_data.q, page=page, limit=limit) }}">{{ page }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <div id="final-result">
            <span>Showing all {{ people.paginator.count }} results.</span>
          </div>
        {% endif %}
      {% endif %}
    </div>
{% endblock %}
