{% extends "base.html" %}
{% block search %}{% endblock %}
{% block main_content %}
  <h1>{{ _('Search') }}</h1>

  <form action="" method="GET">
    <input type="search" name="q" placeholder="{{ _('Name, IRC Nick, or Email') }}" autofocus>
    <input type="submit" value="{{ _('Search') }}"/>
  </form>

  {% for person in people %}
    {# TODO We should reuse microformats like Domesday prototype #}
    <div>
      <img src="{{url('phonebook.profile_photo', person.uniqueIdentifier[0]) }}" width="150" />
      <h2><a href="{{url('phonebook.profile_uid', person.uniqueIdentifier[0]) }}">{{ person.displayName[0] }}</a></h2>
      {% if person.mozilliansVouchedBy %}<div><strong>Mozillian</strong></div>
      {% else %}<div><strong>Pending...</strong></div>
      {% endif %}
    </div>
  {% else %}
    <p>
      {% trans invite=url('invite') %}
        The Mozillian you are looking for is not in the directory. Please check
        your spelling or
        <a href="{{ invite }}">invite this person</a>
        to create a profile.
      {% endtrans %}
    </p>
  {% endfor %}
{% endblock %}
