{% extends "base.html" %}

{% block page_title %}{{ _('Invite a Mozillian') }}{% endblock %}
{% block body_id %}invite{% endblock %}

{% block content %}

  <h1>{{ _('Invite a Mozillian') }}</h1>

  <p>
    {% trans %}
      If you'd like to invite a Mozillian to create a profile, please enter
      their email address here:
    {% endtrans %}
  </p>

  {% if invite_form.errors %}
    <div class="alert alert-error">
      {{ _('Please correct the errors below.') }}
    </div>
  {% endif %}

  <form method="POST" action="{{ url('phonebook:invite') }}" autocomplete="off">
    {{ csrf() }}
    {{ mozillians_field(invite_form.recipient) }}
    {{ mozillians_field(invite_form.message) }}
    <button type="submit">
      {{ _('Send invite') }}
    </button>
    <p>
      {% trans %}
        <strong>Note:</strong>
        Your name and email will be sent to whomever you invite.
      {% endtrans %}
      </p>
  </form>

  {% if invites.exists() %}
    <h1>{{ _('Your Invites') }}</h1>

    {% for invite in invites %}
      <div class="card">
      <ul>
        <li>
          <a title="{{ invite.recipient }}" href="mailto:{{ invite.recipient }}">
            <i class="icon-envelope"></i> {{ invite.recipient }}
          </a>
        </li>
        <li>
          {{ _('Sent:') }} {{ invite.created }}
        </li>
        {% if invite.redeemed %}
          <li>
            {{ _('Redeemed:') }} {{ invite.redeemed }}
          </li>
          <li>
            {{ _('Redeemer:') }}
            <a href="{{ url('phonebook:profile_view', invite.redeemer.user.username) }}">
              {{ invite.redeemer.display_name }}
            </a>
          </li>
        {% else %}
          <form action="{{ url('phonebook:delete_invite', invite_pk=invite.pk) }}" method="POST">
            {{ csrf() }}
            <button type="submit" class="button remove">{{ _('Remove') }} <span>✖</span></button>
          </form>
        {% endif %}
      </ul>
    </div>
    {% endfor %}

  {% endif %}

{% endblock %}
