{% extends "base.html" %}

{% block page_title %}{{ _('Invite a Mozillian') }}{% endblock %}
{% block body_id %}invite{% endblock %}

{% block content %}

  <h1>{{ _('Invite a Mozillian') }}</h1>

  <p>
    {% if invite_form %}
      {% trans vouching_url='https://wiki.mozilla.org/Mozillians/Vouching' %}
        If you want to invite a new Mozillian please fill out the
        following form. <strong>Note</strong>: Inviting a new user is like
        vouching. <a href="{{ vouching_url }}">Read more about vouching.</a>
      {% endtrans %}
    {% else %}
      {% trans %}
        You cannot currently send invites. You need at least {{ vouch_threshold }} vouches.
      {% endtrans %}
    {% endif %}
  </p>

  {% if invite_form %}
    {% if invite_form.errors or vouch_form.errors %}
      <div class="alert alert-error">
        {{ _('Please correct the errors below.') }}
      </div>
    {% endif %}

    <div class="invite-box">
      <form method="POST" action="{{ url('phonebook:invite') }}" autocomplete="off">
        <div class="margins">
          {{ csrf() }}
          {{ mozillians_field(invite_form.recipient) }}
          {{ mozillians_field(invite_form.message) }}
        </div>
      </form>
      {% include "phonebook/includes/profile_vouch.html" %}
    </div>
  {% endif %}

  {% if invites.exists() %}
    <h1>{{ _('Your Invites') }}</h1>

    {% for invite in invites %}
      <div class="card">
      <ul>
        <li>
          <a title="{{ invite.recipient }}" href="mailto:{{ invite.recipient }}">
            <i class="icon-envelope-o"></i> {{ invite.recipient }}
          </a>
        </li>
        <li>
          {{ _('Sent:') }} {{ invite.created }}
        </li>
        {% if invite.redeemed %}
          <li>
            {{ _('Redeemed:') }} {{ invite.redeemed }}
          </li>
          <li>
            {{ _('Redeemer:') }}
            <a href="{{ url('phonebook:profile_view', invite.redeemer.user.username) }}">
              {{ invite.redeemer.display_name }}
            </a>
          </li>
        {% else %}
          <form action="{{ url('phonebook:delete_invite', invite_pk=invite.pk) }}" method="POST">
            {{ csrf() }}
            <button type="submit" class="button remove">{{ _('Remove') }} <i class="icon-close"></i></button>
          </form>
        {% endif %}
      </ul>
    </div>
    {% endfor %}

  {% endif %}

{% endblock %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/character_limit.js') }}"></script>
  {% endcompress %}
{% endblock %}
