{% extends "base.html" %}

{% block page_title %}
  {% for name in [region_name, city_name] %}
    {% if name %}{{ name }}, {% endif %}
  {% endfor %}
  {{ country_name }}
{% endblock %}
{% block body_id %}search{% endblock %}
{% block body_class %}
  {{ super() }}
  search-page
{% endblock %}

{% block content %}
  <h2>{{ _('Mozillians in') }}
    {% for name in [region_name, city_name] %}
      {% if name %}{{ name }}, {% endif %}
    {% endfor %}
    {{ country_name }}
  </h2>
  {% if people.paginator.count %}
    {% with items=people %}
      {% include 'includes/pagination.html' %}
    {% endwith %}
    <div class="row">
      {% for people_slice in people|slice(3) -%}
        {% for person in people_slice %}
          {{ search_result(person) }}
        {% endfor %}
      {% endfor %}
    </div>
    {% with items=people %}
      {% include 'includes/pagination.html' %}
    {% endwith %}
  {% else %}
    <div class="well">
        <p id="not-found">
          {{ _("Sorry we cannot find any mozillians in") }}
          {% for name in [region_name, city_name] %}
            {% if name %}{{ name }}, {% endif %}
          {% endfor %}
          {{ country_name }}
        </p>
    </div>
  {% endif %}
{% endblock %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/pagination.js') }}"></script>
  {% endcompress %}
{% endblock %}
