{% extends "base.html" %}

{% block page_title %}
  {{ _('Change Your Email') }}
{% endblock %}

{% block body_id %}edit-profile{% endblock %}

{% block content %}
<header>
  <h1>{{ _('Verify Your Email') }}</h1>
</header>
<p>
  {% trans %}
  To complete the email change, please use Persona
  to login with your <em>{{ email }}</em> email address.
  {% endtrans %}
</p>
<a href="#" id="nav-login" class="persona-button browserid-login"
   title="{{_('Verify Email' )}}">
  <span class="icon">
    <img src="{{ static('mozillians/img/persona-person-white.png') }}" alt="persona icon">
  </span>
  <span id="verify_email" class="signin">{{ _('Verify Email') }}</span>
</a>
{% endblock %}
