{% extends "domesday/base.html" %}

{% block title %}Community Phonebook{% endblock %}
{% block heading %} 
    {% if p %}
    Edit User "{{ p.name }}"
    {% else %}
    New User
    {% endif %}
{% endblock %}

{% block header %}
<script>

function jqesc(myid) { 
   return myid.replace(/(:|\.)/g,'\\$1');
}
 
$(function() {
    $("#tabs").tabs({ fx: { opacity: 'toggle' } });
    
    $(".privacy-widget").draggable({ 
      zIndex: 2,
      appendTo: 'body', 
      cursor: 'hand',
      revert: 'invalid',
      revertDuration: 1000,
    });
    
    $(".privacy-area").droppable({
        drop: function(event, ui) {
            // For some reason this doesn't get reset...
            ui.draggable.css("position", "relative");
            ui.draggable.css("left", "0px");
            ui.draggable.css("top", "0px");
            
            // Set to white (dragging rule has worn off)
            ui.draggable.css("background-color", "white");
            // Animate back to blue
            ui.draggable.animate({ backgroundColor: "lightblue" });
            
            // Find where to put it
            var hit; 
            $(".privacy-widget", this).each(function(idx) {
                if ($(this).offset().top > ui.offset.top) {
                  hit = $(this);
                  return false;
                }
            });
            
            if (hit) {
                hit.before(ui.draggable)
            }
            else {
                this.appendChild(ui.draggable.get(0));
            }
            
            // Set slider to "Custom"
            $("#set_default").slider("value", 3);
        },
        hoverclass: 'hover'
    });
    
    $("#set_default").slider({ 
    min: 0, 
    max: 3, 
    step: 1,
    change: function(event, ui) {
        if (event.originalEvent && ui.value < 3) {
            // Change was manual rather than programmatic, and change was not
            // to the "custom" value.
            setDefaults(ui.value);
        }
    }
    });
  
    $('#tshirtsize').val("{{ p.tshirtsize }}");
    $('#startyear').val("{{ p.startyear }}");
    $('#country').val("{{ p.country }}");

    function onDataChange(event) {
      // Get output
      var output = $(jqesc("#" + event.currentTarget.id + "-out"));
      // If exist, set value
      if (output) {
          output.val(event.currentTarget.value);
      }
    }
    
    setDefaults(1);
    $("#set_default").slider("value", 1);
    
    // Get all form elements and copy values across
    $("input").change(onDataChange).change();
    $("select").change(onDataChange).change();
    $("textarea").change(onDataChange).change();
});

var defaultsSets = [
    { 
      'public': [
        'nickname',
        'name',
        'familyname',
        'tags',
        'bio',
        'title',
        'startyear',
        'website',
        'blog',
        'locality',
        'country',
        'email'
      ],
      'trusted': [
        'phone',
        'photo',
      ],
      'communityteam': [
        'tshirtsize',
        'address'
      ],
    },
    { 
      'public': [
        'tags',
        'nickname',
        'bio',
        'title',
        'startyear',
        'website',
        'blog',
        'locality',
        'country'
      ],
      'trusted': [
        'name',
        'familyname',
        'email',
        'phone',
        'photo',
      ],
      'communityteam': [
        'tshirtsize',
        'address'
      ],
    },
    { 
      'public': [
        'tags',
        'nickname',
        'website',
        'blog',
        'country',
      ],
      'trusted': [
        'name',
        'familyname',
        'bio',
        'title',
        'startyear',
        'email',
        'photo',
        'locality',
      ],
      'communityteam': [
        'phone',
        'tshirtsize',
        'address'
      ],
    }
];

function setDefaults(index) {
  var dflt = defaultsSets[index];
  for (level in dflt) {
    var leveldflt = dflt[level];
    var container = document.getElementById(level);
    for (var i = 0; i < leveldflt.length; i++) {
      var elem = document.getElementById(leveldflt[i] + "-priv");
      container.appendChild(elem);
    }
  }

  // Make accounts always trusted (that is easiest for now)
  var container = document.getElementById('trusted');
  var elem;
  {% for a in p.accounts %}
  elem = document.getElementById("account-{{ a.domain }}-priv");
  container.appendChild(elem);
  {% endfor %}
}

</script>

<style>

#public        { background-color: #339533; }
#trusted       { background-color: #f69522; }
#communityteam { background-color: #c5555e; }

.privacy-area {
  width: 29%;
  float: left;
  padding: 0.5em;
  margin: 0.4em;
  border: 2px black solid;
}

.field > label {
  font-weight: bold;
  width: 25%;
  float: left;
  clear: left;
  text-align: right;
  white-space: nowrap;
  min-width: 5em;
  padding-right: 0.5em;
}

.field input {
  width: 15em;
}

.field textarea {
    width: 70%;
    height: 10ch;
}

#tags {
  width: 70%;
}

.defaultlabel {
  display: block;
  float: left;
  min-width: 150px;
}

#fields {
    -moz-column-count: 2;
}

.privacy-widget {
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.2em;
  border: 1px black solid;
  margin: 0.5em;
  background-color: lightblue;
}

.privacy-widget > label {
  font-weight: bold;
}

.privacy-widget.ui-draggable-dragging {
  background-color: white;
}

h2 {
  font-size: 20px;
}

</style>
{% endblock %}

{% block content %}
<form action="" method="POST">
{{ csrf() }}

<div id="tabs">
   <ul>
      <li><a href="#enter">Step 1: Enter Your Data</a></li>
      <li><a href="#privacy">Step 2: Set Data Privacy</a></li>
   </ul>
   <div id="enter">

<center>
<p><b>All</b> fields are optional.</p>
</center>

<div id="fields">

<p class="field" id="name-ctr"><label for="name">Full Name:</label> <input id="name" name="name" value="{{ p.name }}"></p>

<p class="field" id="familyname-ctr"><label for="name">Family Name:</label> <input id="familyname" name="familyname" value="{{ p.familyName }}"></p>

<p class="field" id="nickname-ctr"><label for="nickname">Call Me:</label> <input id="nickname" name="nickname" value="{{ p.nickname }}"></p>

<p class="field" id="tags-ctr"><label for="tags">Tags:</label> <input id="tags" name="tags" value="{{ p.tags|join(", ") }}"></p>

<p class="field" id="bio-ctr"><label for="bio">Bio:</label> <textarea id="bio"name="bio">{{ p.bio }}</textarea></p>

<p class="field" id="title-ctr"><label for="title">Job Title:</label> <input id="title" name="title" value="{{ p.title }}"></p>

<p class="field" id="startyear-ctr"><label for="startyear">Year Started:</label> <select id="startyear" name="startyear">
<option value="">Unspecified</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
</select>
</p>

<p class="field" id="website-ctr"><label for="website">Website:</label> <input id="website" name="website" value="{{ p.website }}"></p>

<p class="field" id="blog-ctr"><label for="blog">Blog:</label> <input id="blog" name="blog" value="{{ p.blog }}"></p>

<p class="field" id="locality-ctr"><label for="locality">Locality:</label> <input id="locality" name="locality" value="{{ p.locality }}"></p>

<p class="field" id="country-ctr"><label for="country">Country:</label> 

<select id="country" name="country" style="max-width: 60%"> 
<option value="" selected='selected'>Unspecified</option>
<option value='af'>Afghanistan</option>
<option value='al'>Albania</option>
<option value='dz'>Algeria</option>
<option value='as'>American Samoa</option>
<option value='ad'>Andorra</option>
<option value='ao'>Angola</option>
<option value='ai'>Anguilla</option>

<option value='aq'>Antarctica</option>
<option value='ag'>Antigua and Barbuda</option>
<option value='ar'>Argentina</option>
<option value='am'>Armenia</option>
<option value='aw'>Aruba</option>
<option value='au'>Australia</option>
<option value='at'>Austria</option>
<option value='az'>Azerbaijan</option>
<option value='bs'>Bahamas</option>

<option value='bh'>Bahrain</option>
<option value='bd'>Bangladesh</option>
<option value='bb'>Barbados</option>
<option value='by'>Belarus</option>
<option value='be'>Belgium</option>
<option value='bz'>Belize</option>
<option value='bj'>Benin</option>
<option value='bm'>Bermuda</option>
<option value='bt'>Bhutan</option>

<option value='bo'>Bolivia</option>
<option value='ba'>Bosnia and Herzegovina</option>
<option value='bw'>Botswana</option>
<option value='bv'>Bouvet Island</option>
<option value='br'>Brazil</option>
<option value='io'>British Indian Ocean Territory</option>
<option value='vg'>British Virgin Islands</option>
<option value='bn'>Brunei Darussalam</option>
<option value='bg'>Bulgaria</option>

<option value='bf'>Burkina Faso</option>
<option value='bi'>Burundi</option>
<option value='kh'>Cambodia</option>
<option value='cm'>Cameroon</option>
<option value='ca'>Canada</option>
<option value='cv'>Cape Verde</option>
<option value='ky'>Cayman Islands</option>
<option value='cf'>Central African Republic</option>
<option value='td'>Chad</option>

<option value='cl'>Chile</option>
<option value='cn'>China</option>
<option value='cx'>Christmas Island</option>
<option value='cc'>Cocos (Keeling) Islands</option>
<option value='co'>Colombia</option>
<option value='km'>Comoros</option>
<option value='cg'>Congo-Brazzaville</option>
<option value='cd'>Congo-Kinshasa</option>
<option value='ck'>Cook Islands</option>

<option value='cr'>Costa Rica</option>
<option value='hr'>Croatia</option>
<option value='cu'>Cuba</option>
<option value='cy'>Cyprus</option>
<option value='cz'>Czech Republic</option>
<option value='dk'>Denmark</option>
<option value='dj'>Djibouti</option>
<option value='dm'>Dominica</option>
<option value='do'>Dominican Republic</option>

<option value='ec'>Ecuador</option>
<option value='eg'>Egypt</option>
<option value='sv'>El Salvador</option>
<option value='gq'>Equatorial Guinea</option>
<option value='er'>Eritrea</option>
<option value='ee'>Estonia</option>
<option value='et'>Ethiopia</option>
<option value='fk'>Falkland Islands (Malvinas)</option>
<option value='fo'>Faroe Islands</option>

<option value='fj'>Fiji</option>
<option value='fi'>Finland</option>
<option value='fr'>France</option>
<option value='gf'>French Guiana</option>
<option value='pf'>French Polynesia</option>
<option value='tf'>French Southern Territories</option>
<option value='ga'>Gabon</option>
<option value='gm'>Gambia</option>
<option value='ge'>Georgia</option>

<option value='de'>Germany</option>
<option value='gh'>Ghana</option>
<option value='gi'>Gibraltar</option>
<option value='gr'>Greece</option>
<option value='gl'>Greenland</option>
<option value='gd'>Grenada</option>
<option value='gp'>Guadeloupe</option>
<option value='gu'>Guam</option>
<option value='gt'>Guatemala</option>

<option value='gg'>Guernsey</option>
<option value='gn'>Guinea</option>
<option value='gw'>Guinea-Bissau</option>
<option value='gy'>Guyana</option>
<option value='ht'>Haiti</option>
<option value='hm'>Heard Island and McDonald Islands</option>
<option value='hn'>Honduras</option>
<option value='hk'>Hong Kong</option>
<option value='hu'>Hungary</option>

<option value='is'>Iceland</option>
<option value='in'>India</option>
<option value='id'>Indonesia</option>
<option value='ir'>Iran</option>
<option value='iq'>Iraq</option>
<option value='ie'>Ireland</option>
<option value='im'>Isle of Man</option>
<option value='il'>Israel</option>
<option value='it'>Italy</option>

<option value='ci'>Ivory Coast</option>
<option value='jm'>Jamaica</option>
<option value='jp'>Japan</option>
<option value='je'>Jersey</option>
<option value='jo'>Jordan</option>
<option value='kz'>Kazakhstan</option>
<option value='ke'>Kenya</option>
<option value='ki'>Kiribati</option>
<option value='kw'>Kuwait</option>

<option value='kg'>Kyrgyzstan</option>
<option value='la'>Laos</option>
<option value='lv'>Latvia</option>
<option value='lb'>Lebanon</option>
<option value='ls'>Lesotho</option>
<option value='lr'>Liberia</option>
<option value='ly'>Libya</option>
<option value='li'>Liechtenstein</option>
<option value='lt'>Lithuania</option>

<option value='lu'>Luxembourg</option>
<option value='mo'>Macao</option>
<option value='mk'>Macedonia, F.Y.R. of</option>
<option value='mg'>Madagascar</option>
<option value='mw'>Malawi</option>
<option value='my'>Malaysia</option>
<option value='mv'>Maldives</option>
<option value='ml'>Mali</option>
<option value='mt'>Malta</option>

<option value='mh'>Marshall Islands</option>
<option value='mq'>Martinique</option>
<option value='mr'>Mauritania</option>
<option value='mu'>Mauritius</option>
<option value='yt'>Mayotte</option>
<option value='mx'>Mexico</option>
<option value='fm'>Micronesia</option>
<option value='md'>Moldova</option>
<option value='mc'>Monaco</option>

<option value='mn'>Mongolia</option>
<option value='me'>Montenegro</option>
<option value='ms'>Montserrat</option>
<option value='ma'>Morocco</option>
<option value='mz'>Mozambique</option>
<option value='mm'>Myanmar</option>
<option value='na'>Namibia</option>
<option value='nr'>Nauru</option>
<option value='np'>Nepal</option>

<option value='nl'>Netherlands</option>
<option value='an'>Netherlands Antilles</option>
<option value='nc'>New Caledonia</option>
<option value='nz'>New Zealand</option>
<option value='ni'>Nicaragua</option>
<option value='ne'>Niger</option>
<option value='ng'>Nigeria</option>
<option value='nu'>Niue</option>
<option value='nf'>Norfolk Island</option>

<option value='kp'>North Korea</option>
<option value='mp'>Northern Mariana Islands</option>
<option value='no'>Norway</option>
<option value='ps'>Occupied Palestinian Territory</option>
<option value='om'>Oman</option>
<option value='pk'>Pakistan</option>
<option value='pw'>Palau</option>
<option value='pa'>Panama</option>
<option value='pg'>Papua New Guinea</option>

<option value='py'>Paraguay</option>
<option value='pe'>Peru</option>
<option value='ph'>Philippines</option>
<option value='pn'>Pitcairn</option>
<option value='pl'>Poland</option>
<option value='pt'>Portugal</option>
<option value='pr'>Puerto Rico</option>
<option value='qa'>Qatar</option>
<option value='re'>Reunion</option>

<option value='ro'>Romania</option>
<option value='ru'>Russian Federation</option>
<option value='rw'>Rwanda</option>
<option value='bl'>Saint Barthélemy</option>
<option value='sh'>Saint Helena</option>
<option value='kn'>Saint Kitts and Nevis</option>
<option value='lc'>Saint Lucia</option>
<option value='mf'>Saint Martin</option>
<option value='pm'>Saint Pierre and Miquelon</option>

<option value='vc'>Saint Vincent and the Grenadines</option>
<option value='ws'>Samoa</option>
<option value='sm'>San Marino</option>
<option value='st'>Sao Tome and Principe</option>
<option value='sa'>Saudi Arabia</option>
<option value='sn'>Senegal</option>
<option value='rs'>Serbia</option>
<option value='sc'>Seychelles</option>
<option value='sl'>Sierra Leone</option>

<option value='sg'>Singapore</option>
<option value='sk'>Slovakia</option>
<option value='si'>Slovenia</option>
<option value='sb'>Solomon Islands</option>
<option value='so'>Somalia</option>
<option value='za'>South Africa</option>
<option value='gs'>South Georgia &amp; South Sandwich Is.</option>
<option value='kr'>South Korea</option>
<option value='es'>Spain</option>

<option value='lk'>Sri Lanka</option>
<option value='sd'>Sudan</option>
<option value='sr'>Suriname</option>
<option value='sj'>Svalbard and Jan Mayen</option>
<option value='sz'>Swaziland</option>
<option value='se'>Sweden</option>
<option value='ch'>Switzerland</option>
<option value='sy'>Syria</option>
<option value='tw'>Taiwan</option>

<option value='tj'>Tajikistan</option>
<option value='tz'>Tanzania</option>
<option value='th'>Thailand</option>
<option value='tl'>Timor-Leste</option>
<option value='tg'>Togo</option>
<option value='tk'>Tokelau</option>
<option value='to'>Tonga</option>
<option value='tt'>Trinidad and Tobago</option>
<option value='tn'>Tunisia</option>

<option value='tr'>Turkey</option>
<option value='tm'>Turkmenistan</option>
<option value='tc'>Turks and Caicos Islands</option>
<option value='tv'>Tuvalu</option>
<option value='ae'>U.A.E.</option>
<option value='vi'>U.S. Virgin Islands</option>
<option value='ug'>Uganda</option>
<option value='ua'>Ukraine</option>
<option value='gb'>United Kingdom</option>

<option value='us'>United States</option>
<option value='um'>United States Minor Outlying Is.</option>
<option value='uy'>Uruguay</option>
<option value='uz'>Uzbekistan</option>
<option value='vu'>Vanuatu</option>
<option value='va'>Vatican City</option>
<option value='ve'>Venezuela</option>
<option value='vn'>Vietnam</option>
<option value='wf'>Wallis and Futuna</option>

<option value='eh'>Western Sahara</option>
<option value='ye'>Yemen</option>
<option value='zm'>Zambia</option>
<option value='zw'>Zimbabwe</option>
<option value='ax'>Åland Islands</option>
</select>

</p>

{% for a in p.accounts %}
  <p class="field" id="account-{{ a.domain }}-ctr">
    <label for="account-{{ a.domain }}">
    {{ sds[a.domain]|default(a.domain) }}:
    </label> 
    <input id="account-{{ a.domain }}" name="account-{{ a.domain }}" 
           value="{{ a.userid }}">
  </p>
{% endfor %}

<p class="field" id="newaccount-ctr">
<label for="newaccount-userid" id="newaccount-label">
<select id="newaccount-domain" name="newaccount-domain">
  {% for sd in sds|dictsort(false, 'value') %}
    <option value="{{ sd[0] }}">{{ sd[1] }}</option>
  {% endfor %}
  <option value="" onclick="$('#newaccount-domain').hide(); $('#newaccount-domain-manual').show()">Other...</option>
</select>
<input id="newaccount-domain-manual" name="newaccount-domain-manual" value="" placeholder="site domain" style="max-width: 95%; display: none">
</label>
<input id="newaccount-userid" name="newaccount-userid" value=""></p>

<p class="field" id="email-ctr"><label for="email">Email:</label> <input id="email" name="email" value="{{ p.email }}"></p>

<p class="field" id="phone-ctr"><label for="phone">Phone:</label> <input id="phone" name="phone" value="{{ p.phone }}"></p>

{% if p %}
<p class="field" id="photo-ctr"><label for="photo">Photo:</label> <img src="{{ url('domesday.views.photo', pk=p.uid) }}"/></p>
{% endif %}

<p class="field" id="tshirtsize-ctr"><label for="tshirtsize">T-Shirt Size:</label> <select id="tshirtsize" name="tshirtsize">
<option value="">Unspecified</option>
<option value="men-s">Men's S</option>
<option selected value="men-m">Men's M</option>
<option value="men-l">Men's L</option>
<option value="men-xl">Men's XL</option>
<option value="men-xxl">Men's XXL</option>
<option value="women-s">Women's S</option>
<option value="women-m">Women's M</option>
<option value="women-l">Women's L</option>
<option value="women-xl">Women's XL</option>
<option value="women-xxl">Women's XXL</option>
</select>
</p>

<p class="field" id="address-ctr"><label for="address">Address:</label> <textarea id="address" name="address">{{ p.address }}</textarea></p>

</div>

   </div> <!-- enter -->
   <div id="privacy">


<center>
<p style="max-width: 600px">
<span class="defaultlabel">More Open</span>
<span class="defaultlabel">In Between</span>
<span class="defaultlabel">Less Open</span>
<span class="defaultlabel">Custom</span><br>
<div id="set_default" style="max-width:450px"></div>
</p>

<p>Drag fields between sections to change their privacy level, or use the slider to try out our suggestions.</p>
</center>


<div class="privacy-area" id="public">
<h2>Whole World</h2>

<div id="name-priv" class="privacy-widget"><label>Full Name:</label> <output id="name-out"></output></div>

<div id="familyname-priv" class="privacy-widget"><label>Family Name:</label> <output id="familyname-out"></output></div>

<div id="nickname-priv" class="privacy-widget"><label>Nickname:</label> <output id="nickname-out"></output></div>

<div id="tags-priv" class="privacy-widget"><label>Tags:</label> <output id="tags-out"></output></div>

<div id="bio-priv" class="privacy-widget"><label>Bio:</label> <output id="bio-out"></output></div>

<div id="title-priv" class="privacy-widget"><label>Title:</label> <output id="title-out"></output></div>

<div id="startyear-priv" class="privacy-widget"><label>Year Started:</label> <output id="startyear-out"></output></div>

<div id="website-priv" class="privacy-widget"><label>Website:</label> <output id="website-out"></output></div>

<div id="blog-priv" class="privacy-widget"><label>Blog:</label> <output id="blog-out"></output></div>

<div id="locality-priv" class="privacy-widget"><label>Locality:</label> <output id="locality-out"></output></div>

<div id="country-priv" class="privacy-widget"><label>Given Name:</label> <output id="country-out"></output></div>

{% for a in p.accounts %}
  <div id="account-{{ a.domain }}-priv" class="privacy-widget">
  <label>{{ sds[a.domain]|default(a.domain) }}:</label>
  <output id="account-{{ a.domain }}-out"></output></div>
{% endfor %}

<div id="email-priv" class="privacy-widget"><label>Email:</label> <output id="email-out"></output></div>

<div id="phone-priv" class="privacy-widget"><label>Phone:</label> <output id="phone-out"></output></div>

<div id="photo-priv" class="privacy-widget"><label>Photo</label></div>

<div id="tshirtsize-priv" class="privacy-widget"><label>T-Shirt Size:</label> <output id="tshirtsize-out"></output></div>

<div id="address-priv" class="privacy-widget"><label>Street Address:</label> <output id="address-out"></output></div>

</div>


<div class="privacy-area" id="trusted">
<h2>Only "Mozillians"</h2>

</div>


<div class="privacy-area" id="communityteam">
<h2>Only "Summit and Swag Team"</h2>

</div>

<br style="clear: both">


   </div> <!-- privacy -->
</div> <!-- tabs -->

<div>
<input type="submit" value="Save" style="clear: both; padding: 0.5em; margin: 1em;"/>
</div>

</form>

{% endblock %}
