{% extends "domesday/base.html" %}

{% block title %}Community Phonebook - Search{% endblock %}
{% block heading %}Find One Person{% endblock %}

{% block header %}
{{ css('view') }}
{% endblock %}

{% block content %}

<div class="centred">
<form action="" method="GET">
  <input type="text" name="q" placeholder="service identifier">
  <select id="type" name="type">
    <optgroup>
    <option value="">All Services</option>
    <option value="email">Email</option>
    </optgroup>
    {% for sd in sds %}
    <option value="{{ sd.domain }}">{{ sd.title }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Search"/>
</form>
<br>
<br>
<p>(<a href="{{ url('domesday.views.new') }}">New Entry</a>)
</div>

{% endblock %}
