# See base_env_vars for details about these settings
DEV = True
DEBUG = False
DATABASE_URL = 'mysql://root:root@127.0.0.1:3306/mozillians'
PROD_DETAILS_DIR = 'lib/product_details_json'
DOMAIN = 'localhost'
PROTOCOL = 'http://'
COMPRESS_ENABLED = False
COMPRESS_OFFLINE = False
SESSION_COOKIE_SECURE = False
SITE_URL = http://127.0.0.1:8000
ALLOWED_HOSTS = 127.0.0.1
PORT = 8000
ES_DISABLED = True
ES_URLS = 'http://127.0.0.1:9200'
ES_INDEXING_TIMEOUT = 10
CELERY_RESULT_BACKEND = 'amqp'
CELERY_ACCEPT_CONTENT = 'pickle'
CELERYD_TASK_SOFT_TIME_LIMIT = 150
SECRET_KEY = 'correcthorsebatterystaple'
USE_TZ = True
ITEMS_PER_PAGE = 24
COMPRESS_OFFLINE = True
COMPRESS_ENABLED = True
OIDC_STORE_ACCESS_TOKEN = True
OIDC_OP_DOMAIN = 'auth.mozilla.auth0.com'
OIDC_OP_TOKEN_ENDPOINT = ''
OIDC_OP_USER_ENDPOINT = ''
OIDC_RP_CLIENT_ID = ''
OIDC_RP_CLIENT_SECRET = ''
OIDC_RP_CLIENT_SECRET_ENCODED = True
