<!doctype html>
<html class="windows no-js" lang="{{ LANG }}" dir="{{ DIR }}">
<head>
  <meta charset="utf-8">

  <title>{{ _('Mozillians') }}: {% block page_title %}
    {{ _('Welcome') }}{% endblock %}</title>
  <meta name="description" content="{{ _("Mozilla's contributor phonebook") }}">
  <meta name="author" content="Mozilla">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="72x72" href="{{ MEDIA_URL }}img/apple-touch-icon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ MEDIA_URL }}img/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ MEDIA_URL }}img/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" href="{{ MEDIA_URL }}img/apple-touch-icon.png">

  <link rel="shortcut icon" type="image/ico" href="{{ MEDIA_URL }}img/favicon.ico">

  <link rel="search" type="application/opensearchdescription+xml"
        title="{{ _('Mozillians') }}" href="{{ url('search_plugin') }}">

  {% block site_css %}
    {{ css('common', 'screen') }}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" media="screen" />

  <!--[if lt IE 9]>
    <script src="{{ MEDIA_URL }}js/libs/html5shiv.js"></script>
  <![endif]-->

  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <![endif]-->

  {% block feeds %}{% endblock %}
  {% block extrahead %}{% endblock %}
  {% include "includes/google_analytics.html" %}
</head>

<body id="{% block body_id %}{% endblock %}" 
class="html-{{ DIR }} {% if user.is_authenticated() %}loggedin{% else %}loggedout{% endif %} {% block body_class %}{% endblock %}" data-locale="{{ LANG }}" {% block body_attrs %}{% endblock %}>

  <div id="outer-wrapper">
    <div id="wrapper">
    {% block site_header %}
      <header id="masthead">
        <a href="http://www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>

        <ul id="nav-access">
          <li><a href="#language-switcher">{{ _('Select language') }}</a></li>
          <li><a href="#content">{{ _('Skip to main content') }}</a></li>
        </ul>
        {% block site_header_nav %}
          <nav role="navigation">
            {% if user.is_authenticated() %}
              <a class="brand" href="{{ url('home') }}">
                  <img id="mozillians-logo" src="{{ MEDIA_URL }}img/mozillians-logo.png" alt="Mozillians">
              </a>
              {% if user.userprofile.is_complete %}
                <div id="nav-main">
                  <span class="icon"><img src="{{ MEDIA_URL }}img/persona-person-white.png" alt="persona icon"></span>
                  <a href="#" class="dropdown-toggle">
                    {% if user.userprofile.full_name %}
                      {{ user.userprofile.full_name }}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                    <i class="icon-reorder"></i> 
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a id="profile" href="{{ url('profile', user.username) }}">
                        <i class="icon-eye-open"></i>
                        {{ _('View Profile') }}
                      </a>
                    </li>
                    <li class="edit_profile">
                      <a href="{{ url('profile.edit') }}">
                        <i class="icon-pencil"></i>
                        {{ _('Edit Your Profile') }}
                      </a>
                    </li>
                    {% if user.get_profile().is_vouched %}
                      <li>
                        <a id="invite" href="{{ url('invite') }}">
                          <i class="icon-group"></i> 
                          {{ _('Invite') }}
                        </a>
                      </li>
                    {% endif %}
                    <li>
                      <a id="logout" href="{{ url('logout') }}">
                        <i class="icon-reply"></i>
                        {{ _('Log Out') }}
                      </a>
                    </li>
                  </ul>
                </div>
              {% endif %}
            {% else %}
              <form method="POST" class="browserid_action_form" action="{{ url('browserid_verify') }}">
                {{ csrf() }}
                {{ browserid_form }}
                <input type="hidden" name="next"
                       value="{{ request.REQUEST.next|default(settings.LOGIN_REDIRECT_URL) }}" />
                <a href="#" id="create_profile" class="persona-button browserid-login" title="{{_('Sign in with Persona')}}">
                  <span class="icon"><img src="{{ MEDIA_URL }}img/persona-person-white.png" alt="persona icon"></span>
                  <span class="signin">{{ _('Sign in with Persona') }}</span>
                </a>
              </form>
            {% endif %}
          </nav>
        {% endblock %}

        {% block breadcrumbs %}{% endblock %}

      </header>
    {% endblock %}  

    {% block mosaic %}{% endblock %}

    {% block messages %}
      {% if messages %}
        {% for message in messages %}
          {% with %}
            {% set label = message.tags in ['error', 'success', 'info'] %}
              <div class="alert{% if label %} alert-{{ message.tags }}{% endif %}"
                   id="pending-approval">
                {{ message }}
              </div>
          {% endwith %}
        {% endfor %}
      {% endif %}
    {% endblock messages %}

    {% block content %}{% endblock %}
    </div><!-- close #wrapper -->

    {% block site_footer %}
      <footer id="colophon">
          <div class="container">

            <h4>
              {% trans bug_url='https://bugzilla.mozilla.org/enter_bug.cgi?product=Community%20Tools&component=Phonebook',
                   git_url='https://github.com/mozilla/mozillians' %}
                Help make Mozillians better. 
                <a href="{{ bug_url }}">File a bug</a> or 
                <a href="{{ git_url }}">make some changes</a>.
              {% endtrans %}
            </h4>

            <div class="footer-language row">
            {% include 'includes/lang_switcher.html' %}
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="footer-logo">
              <a href="http://mozilla.org"><img src="{{ MEDIA_URL }}img/footer-mozilla.png" alt="mozilla"></a>
            </div>

            <div class="footer-license">
              <p>
                {% trans %}
                Portions of this content are &copy;1998–{{ current_year }} by individual mozilla.org contributors. Content available under a <a href="http://www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.
                {% endtrans %}
              </p>
            </div>

            <ul class="footer-nav details">
              <li><a href="{{ url('about') }}">{{_('About Mozillians')}}</a></li>
              <li><a href="http://mozilla.org/privacy-policy.html">{{_('Privacy Policy')}}</a></li>
              <li><a href="http://mozilla.org/about/legal.html">{{_('Legal Notices')}}</a></li>
              <li><a href="http://mozilla.org/legal/fraud-report/index.html">{{_('Report Trademark Abuse')}}</a></li>
            </ul>

          </div>
        </div>
      </footer>
    {% endblock %}
  </div><!-- close #outer-wrapper -->

  <script src="{{ url('jsi18n') }}"></script>

  {% block site_js %}
    {{ js('common') }}
    <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
    <script src="https://login.persona.org/include.js" type="text/javascript"></script>
  {% endblock %}

  {% block page_js %}{% endblock %}

</body>
</html>
